@model  YSWL.MALL.Model.Shop.Supplier.SupplierInfo 
            @if (Model != null)
            {
                <div class="linkWrapper clearfix">
                    <div class="linkLogo"><img src="@(ViewBag.BasePath)Partial/SuppLogo?id=@(Model.SupplierId)&size=T200X200" alt="@(Model.ShopName)"  onerror="this.onerror = ''; this.src = '/Areas/MShop/Themes/MC01/Content/images/store-pic.jpg'"></div>
                    <div class="linkTxt">
                        <span class="linkName">@Model.ShopName</span>
                        <span>全部宝贝： <span class="linkNum">@(Model.ProductCount)</span></span>
                    </div>
                    <a  href="@(ViewBag.BasePath)Store/@Model.SupplierId" >进店逛逛</a>
                </div>
            }
