
  @{
       Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
 } 
@model  YSWL.MALL.ViewModel.Shop.ReturnOrderDetailModel
 <script src="/Scripts/tab/tab.js" type="text/javascript"></script>
    <link href="/Scripts/tab/tab.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery/maticsoft.jquery.min.js" type="text/javascript"></script>  
  
<link href="/Areas/Supplier/Themes/M1/Content/Css/supplier.css" rel="stylesheet" type="text/css" />
<!--jQueryUploadify Start-->
    <!--jQueryUploadify End-->
<style type="text/css">
     .td_class{
        width: 80px;
        border-right: 1px solid #DBE2E7;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #fff;
        padding-bottom: 4px;
        padding-top: 4px;
    }
    .td_content{
        border-right: 1px solid #DBE2E7;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #fff;
    }

</style>
<script type="text/javascript">
    $(function () {

        //隔行换色
        var trs = $('table.GridViewTyle tr');
        for (var i = 0; i < trs.length; i++) {
            if (i % 2 != 0) {
                trs.eq(i).addClass('eventrcolor');
            }
        }
        //鼠标移动效果
        $("table.GridViewTyle tr").hover(
            function () {
                $(this).addClass("tylehover");
            },
            function () {
                $(this).removeClass("tylehover");
            }
        );

     


        //取货
            $('#btnSave').click(function () {
            var roid = $(this).attr('roid'); //退货单Id
            if (parseInt(roid) <= 0) {
                return false;
            }
            $(this).hide(); 
            $.ajax({
                url: $YSWL.BasePath + "ReturnOrder/Pick",
                type: 'post',
                dataType: 'text',
                async: false,
                timeout: 10000,
                data: { roid: roid },
                success: function (resultData) {
                    switch (resultData) {
                        case "NO":
                            ShowFailTip("操作失败");
                            break;
                        case "HASCHANGED":
                            ShowFailTip("当前退货单的状态已改变,您已不能修改,稍后为您转到列表页...");
                            setTimeout(function () {
                                javascript: parent.$.colorbox.close();
                                $('#btnSearch', window.parent.document).click();
                            }, 2000);
                        case "OK":
                            ShowSuccessTip("操作成功！");
                            setTimeout(function () {
                                javascript: parent.$.colorbox.close();
                                $('#btnSearch', window.parent.document).click();
                            }, 2000);
                            break;
                        default:
                            ShowServerBusyTip("操作失败");
                            break;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    ShowServerBusyTip("服务器没有返回数据，可能服务器忙，请稍候再试！");
                }
            });
            $(this).show(); 
        });
       
    });
 
</script>

@if(Model.Info!=null){
     <div class="newslistabout">

        <div class="newslist_title">
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitle">
                        <span id="lblTitle">您正在进行退货单【 @Model.Info.ReturnOrderCode 】确认取货操作</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="nTab4">
            <div class="TabTitle">
                <ul id="myTab1">
                    <li class="active" onclick="nTabs(this,0);"><a href="javascript:;">商品清单</a></li>
                    <li class="normal" onclick="nTabs(this,1);"><a href="javascript:;">其他信息</a></li>
                </ul>
            </div>
        </div>
        <div class="TabContent ">
            <!--基本信息1111-->
            <div id="myTab1_Content0">
                <table style="width: 100%; border-bottom: none; border-top: none; float: left;" cellpadding="2"  cellspacing="1" class="border">
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span> 订单号</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span >@Model.Info.OrderCode</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         
                                        <span> 创建日期</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span  > @Model.Info.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span> 应退金额</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblAmountAdjusted" >@Model.Info.AmountAdjusted.ToString("F")</span>
                                    </td>
                                </tr>
                                  
                            </table>
                        </td>
                    </tr>
            
             <tr>
                        <td style="vertical-align: top;">
                           <table style="width: 100%; border-bottom: none; border-top: none; float: left;" cellpadding="2"    cellspacing="1" class="border">
                    <tr>
                        <td class="tdbg">
                            <table cellspacing="0" cellpadding="3" rules="all" border="0px" class="GridViewTyle"   style="border-color:#CCCCCC;border-width:1px;border-style:solid;width:100%;border-collapse:collapse;float: left;"> 
                                <tr height="35px" style="background-color:#E3EFFF;height:35px;background:#FFF">
                                    <th scope="col" style="border:1px solid #dae2e8;border-right:0px;">商品图片</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">商品名称</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">商品编号</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">退货数量</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">出售单价</th>
                                </tr>
                           @if (Model.ListItems != null)
                           {
                               foreach (var item in Model.ListItems)
                               {
                                 <tr height="27px"  class="oddtrcolor" >
                                    <td align="center" height="27px" style="width:60px;padding-left:5px;height:27px;">
                                        <a href="javascript:;" target="_blank">
                                            <img  width="80px" height="80px" src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailsUrl, "T128X130_")" onerror="this.src='/Content/themes/base/images/404/80.jpg'" style="display: inline;">
                                        </a>
                                    </td>
                                    <td align="left" height="27px" style="padding-left:5px;height:27px;">
                                        @item.Name
                                    </td>
                                    <td align="center" height="27px" style="width:50px;padding-left:5px;height:27px;">
                                        @item.SKU
                                    </td>
                                    <td align="center" height="27px" style="width:50px;padding-left:5px;height:27px;">
                                        @item.Quantity
                                    </td>
                                    <td align="center" height="27px" style="width:50px;padding-left:5px;height:27px;">
                                        <span class="txtprice">
                                            @item.ReturnPrice.ToString("F")
                                        </span>
                                    </td>
                                </tr>
                               }

                           }
                              

	 </table>
                        </td>
                    </tr>
                </table>
                        </td>
             </tr>
                    
                </table>
            </div>
           
            <!--取货信息-->
            <div id="myTab1_Content1" tabindex="1" class="none4">
                
                <table style="width: 100%; border-bottom: none; border-top: none; float: left;" cellpadding="2"
                       cellspacing="1" class="border">
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang"
                                   style="padding-top: 8px">
                                <tr>
                                    <td colspan="2" class="newstitle" bgcolor="#FFFFFF">
                                        <span style="font-size: 16px; padding-left: 20px">退货信息</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span>联系人</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span>@Model.Info.ContactName</span>         
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span>联系方式</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span>@Model.Info.ContactPhone</span>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span>退货地区</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                    <span>@Model.Info.PickRegion</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        <span>详细地址</span>：
                                    </td>
                                    <td height="25" class="td_content">
                                     <span>@Model.Info.PickAddress</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    <div class="newslistabout">
        <table style="width: 100%; border-top: none; float: left;" cellpadding="2" cellspacing="1"
            class="border">
            <tr>
                <td class="tdbg">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr>
                            <td style="height: 6px;">
                            </td>
                            <td height="6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td height="25" style="text-align: center">
                                <button id="btnSave" class="adminsubmit_short"  style="width:100px;"   roid="@Model.Info.ReturnOrderId" >确认取货</button>
 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    </div>
}
    <script type="text/javascript">
        (function () {
            setTimeout("$('[id$=btnSave]').show()", 1000);
        })()
    </script>
 
