@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.ViewModel.Shop.ProComModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="list-item">
            <div class="list-img">
                <a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId">
                    <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl, "T115X115_")" onerror="this.onerror = ''; this.src = '/Content/themes/base/images/404/404_1.png'" />
                </a>
            </div>
            <div class="text-wrap">
                <div class="list-line pro-intro height-39">
                    <span class="intro">@item.ProductName</span>
                </div>
                <div class="list-line">
                    单价：
                    <span class="intro">￥@item.ProductPrice.ToString("F")</span>
                </div>
                <div class="list-line">
                    比率：
                    <span class="intro rate">@item.FeeRate.ToString("F")%</span>
                </div>
                <div class="list-line">
                    佣金：
                    <span class="intro">￥@item.FirstFee.ToString("F")</span>
                </div>
                <div class="list-line">
                    操作：
                    <span class="intro">
                        <a href="javascript:;" url='@item.PromoCode' class="red btnPromo" name="@item.ProductName">立即推广</a>
                        <a href='/spread/@item.PromoCode/m' class="red" name="@item.ProductName">立即分享</a>
                    </span>
                </div>
            </div>
        </div>
    }
}
