@using YSWL.MALL.Model.Shop.Order
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Shop.Order.OrderInfo>
@if (Model != null && Model.Count > 0)
{

    foreach (var item in Model)
    {
        int num = 0;
        int proNum = 0;

        if (item.HasChildren && (item.PaymentStatus > 1 || (item.PaymentGateway == "cod" || item.PaymentGateway == "bank")))
        {
            //已支付主单
            for (int i = 0; i < item.SubOrders.Count; i++) //循环子单
            {
                if (item.SubOrders[i].OrderItems != null && item.SubOrders[i].OrderItems.Count > 0)
                {
                    //foreach (var orderItem in item.SubOrders[i].OrderItems)
                    //{

                    //}

                    if (item.SubOrders[i].OrderItems.Count > 1)
                    {
                        num = 0;
                        proNum = 0;
                        //订单商品数量
                        foreach (var it in item.SubOrders[i].OrderItems)
                        {
                            num = num + it.Quantity;
                        }

                        //多个商品
                        <div class="shop_group_item">
                            <div class="shop_title pd">
                                <div class="item">
                                    <a href="@(ViewBag.BasePath)O/oi/@item.SubOrders[i].OrderId">
                                        <div class="shop_title_content">
                                            <em></em>
                                            <span class="shop_title_name arrow_left">
                                                @(string.IsNullOrWhiteSpace(item.SubOrders[i].SellerName) ? "自营" : item.SubOrders[i].SellerName)
                                            </span>
                                            <span class="status">@YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderTypeEx(item.SubOrders[i].PaymentGateway, item.SubOrders[i].OrderStatus, item.SubOrders[i].PaymentStatus, item.SubOrders[i].ShippingStatus)</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="shp_cart_list">
                                <div class="items">
                                    <div class="shp_cart_item_display">
                                        <div class="order_item pd" onclick="window.location.href='@(ViewBag.BasePath)O/oi/@item.SubOrders[i].OrderId'">
                                            <div class="pro_list">
                                                <div class="item_l">
                                                    @foreach (var thu in item.SubOrders[i].OrderItems)
                                                    {
                                                        <div class="p_img">
                                                            <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(thu.ThumbnailsUrl, "T50X65_")" alt="">
                                                        </div>
                                                        if (proNum++ > 3)
                                                        {
                                                            break;
                                                        }

                                                    }


                                                </div>
                                                <div class="item_r">
                                                    共@(num) 件
                                                </div>
                                                <a href="@(ViewBag.BasePath)O/oi/@item.SubOrders[i].OrderId">
                                                    <span class="si point_icon"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="pay_total pd">
                                            <div class="cont">
                                                <span>共<b>@(num)</b>件商品</span>
                                                <span>实付金额：<b>￥@item.SubOrders[i].Amount.ToString("f")</b></span>
                                                <span>（含运费<b>￥@((item.SubOrders[i].FreightAdjusted ?? 0).ToString("f"))</b>）</span>
                                            </div>
                                        </div>
                                        <div class="btn_wrap">
                                            @switch ((int)item.SubOrders[i].OrderStatus)
                                            {
                                                case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.UnHandle: //未处理
                                                    if (item.SubOrders[i].PaymentStatus == (int)YSWL.MALL.Model.Shop.Order.EnumHelper.PaymentStatus.Unpaid && item.SubOrders[i].PaymentGateway != "cod" && item.SubOrders[i].PaymentGateway != "bank")
                                                    {
                                                        <a href="javascript:void(0);" class="btn_default btn_green2 btnPayOrder" ItemId="@item.SubOrders[i].OrderId">付款</a>
                                                            <a href="javascript:void(0);" class="btn_default btnOrderCancel btn_green2" ItemId="@item.SubOrders[i].OrderId">取消订单</a>
                                                    }
                                                    break;
                                                case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.Complete: //已完成

                                                    if (!item.SubOrders[i].IsReviews)
                                                    {
                                                        <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default">查看物流</a>
                                                        <a href="@(ViewBag.BasePath)u/preview/@item.SubOrders[i].OrderId" class="btn_default btn_green2">评价</a>
                                                    }
                                                    else
                                                    { <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default btn_green2">查看物流</a>}

                                                    break;
                                                default:
                                                    break;
                                            }

                                            @switch ((YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus)YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderMainStatus(item.SubOrders[i].PaymentGateway, item.SubOrders[i].OrderStatus, item.SubOrders[i].PaymentStatus, item.SubOrders[i].ShippingStatus))
                                            {
                                                case YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus.Shiped: //已发货
                                                    <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default" itemid="@item.SubOrders[i].OrderId">查看物流</a>
                                                        <a href="javascript:void(0);" class="btn_default btn_green2 btnOrderComplete" itemid="@item.SubOrders[i].OrderId">确认收货</a>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        //单个商品
                        <div class="shop_group_item">
                            <div class="shop_title pd">
                                <div class="item">
                                    <a href="@(ViewBag.BasePath)O/oi/@item.SubOrders[i].OrderId">
                                        <div class="shop_title_content">
                                            <em></em>
                                            <span class="shop_title_name arrow_left">
                                                @(string.IsNullOrWhiteSpace(item.SubOrders[i].SellerName) ? "自营" : item.SubOrders[i].SellerName)
                                            </span>
                                            <span class="status">@YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderTypeEx(item.SubOrders[i].PaymentGateway, item.SubOrders[i].OrderStatus, item.SubOrders[i].PaymentStatus, item.SubOrders[i].ShippingStatus)</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="shp_cart_list">
                                <div class="items">
                                    <div class="shp_cart_item_display">
                                        <a href="javascript:void(0);" class="cart_product_cell_1">
                                            <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.SubOrders[i].OrderItems[0].ThumbnailsUrl, "T50X65_")" alt="" class="cart_photo_thumb">
                                        </a>
                                        <div class="cart_product_cell_2 pd" onclick="window.location.href='@(ViewBag.BasePath)O/oi/@item.SubOrders[i].OrderId'">
                                            <div class="cart_product_name">
                                                @item.SubOrders[i].OrderItems[0].Name
                                            </div>
                                            <div class="cart_product_prop">
                                                @if (String.IsNullOrWhiteSpace(item.SubOrders[i].OrderItems[0].Attribute))
                                                {
                                                    foreach (var attr in item.SubOrders[i].OrderItems[0].Attribute.Split(','))
                                                    {
                                                        <span class="prop">@attr</span>
                                                    }
                                                }
                                                <div class="pro_qua">
                                                    x<span class="num">@item.SubOrders[i].OrderItems[0].Quantity</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pay_total pd">
                                            <div class="cont">
                                                <span>共<b>@item.SubOrders[i].OrderItems[0].Quantity</b>件商品</span>
                                                <span>实付金额：<b>￥@item.SubOrders[i].Amount.ToString("f")</b></span>
                                                <span>（含运费<b>￥@((item.SubOrders[i].FreightAdjusted ?? 0).ToString("f"))</b>）</span>
                                            </div>
                                        </div>
                                        <div class="btn_wrap">

                                            @switch ((int)item.SubOrders[i].OrderStatus)
                                            {
                                                case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.UnHandle: //未处理
                                                    if (item.SubOrders[i].PaymentStatus == (int)YSWL.MALL.Model.Shop.Order.EnumHelper.PaymentStatus.Unpaid && item.SubOrders[i].PaymentGateway != "cod" && item.SubOrders[i].PaymentGateway != "bank")
                                                    {
                                                        <a href="javascript:void(0);" class="btn_default btn_green2 btnPayOrder" ItemId="@item.SubOrders[i].OrderId">付款</a>
                                                            <a href="javascript:void(0);" class="btn_default btnOrderCancel btn_green2" ItemId="@item.SubOrders[i].OrderId">取消订单</a>
                                                    }
                                                    break;
                                                case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.Complete: //已完成

                                                    if (!item.SubOrders[i].IsReviews)
                                                    {
                                                        <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default">查看物流</a>
                                                        <a href="@(ViewBag.BasePath)u/preview/@item.SubOrders[i].OrderId" class="btn_default btn_green2">评价</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default btn_green2">查看物流</a>
                                                    }

                                                    break;
                                                default:
                                                    break;
                                            }

                                            @switch ((YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus)YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderMainStatus(item.SubOrders[i].PaymentGateway, item.SubOrders[i].OrderStatus, item.SubOrders[i].PaymentStatus, item.SubOrders[i].ShippingStatus))
                                            {
                                                case YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus.Shiped: //已发货


                                                    <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.SubOrders[i].OrderId)" class="btn_default" itemid="@item.SubOrders[i].OrderId">查看物流</a>
                                                        <a href="javascript:void(0);" class="btn_default btn_green2 btnOrderComplete" itemid="@item.SubOrders[i].OrderId">确认收货</a>
                                                    break;
                                                default:
                                                    break;
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                }
            }
        }
        else
        {
            if (item.OrderItems.Count > 1)
            {
                //订单商品数量
                foreach (var it in item.OrderItems)
                {
                    num = num + it.Quantity;
                }
                //多个商品
                <div class="shop_group_item">
                    <div class="shop_title pd">
                        <div class="item">
                            <a href="@(ViewBag.BasePath)O/oi/@item.OrderId">
                                <div class="shop_title_content">
                                    <em></em>
                                    <span class="shop_title_name arrow_left">
                                        @(string.IsNullOrWhiteSpace(item.SellerName) ? "自营" : item.SellerName)
                                    </span>
                                    <span class="status">@YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderTypeEx(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="shp_cart_list">
                        <div class="items">
                            <div class="shp_cart_item_display">
                                <div class="order_item pd" onclick="window.location.href='@(ViewBag.BasePath)O/oi/@item.OrderId'">
                                    <div class="pro_list">
                                        <div class="item_l">
                                            @foreach (var thu in item.OrderItems)
                                            {
                                                <div class="p_img">
                                                    <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(thu.ThumbnailsUrl, "T50X65_")" alt="">
                                                </div>
                                                if (proNum++ > 3)
                                                {
                                                    break;
                                                }

                                            }


                                        </div>
                                        <div class="item_r">
                                            共@(num)件
                                        </div>
                                        <span class="si point_icon"></span>
                                    </div>
                                </div>
                                <div class="pay_total pd">
                                    <div class="cont">
                                        <span>共<b>@(num)</b>件商品</span>
                                        <span>实付金额：<b>￥@item.Amount.ToString("f")</b></span>
                                        <span>（含运费<b>￥@((item.FreightAdjusted ?? 0).ToString("f"))</b>）</span>

                                    </div>
                                </div>
                                <div class="btn_wrap">
                                    @switch ((int)item.OrderStatus)
                                    {
                                        case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.UnHandle://未处理
                                            if (item.PaymentStatus == (int)YSWL.MALL.Model.Shop.Order.EnumHelper.PaymentStatus.Unpaid && item.PaymentGateway != "cod" && item.PaymentGateway != "bank")
                                            {
                                                <a href="javascript:void(0);" class="btn_default btn_green2 btnPayOrder" ItemId="@item.OrderId">付款</a>
                                                <a href="javascript:void(0);" class="btn_default btnOrderCancel btn_green2" ItemId="@item.OrderId">取消订单</a>
                                            }
                                            break;
                                        case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.Complete://已完成

                                            if (!item.IsReviews)
                                            {
                                                <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default">查看物流</a>
                                                <a href="@(ViewBag.BasePath)u/preview/@item.OrderId" class="btn_default btn_green2">评价</a>
                                            }
                                            else
                                            {
                                                <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default btn_green2">查看物流</a>
                                            }
                                            break;
                                        default: break;
                                    }

                                    @switch ((YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus)YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderMainStatus(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus))
                                    {
                                        case YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus.Shiped://已发货


                                            <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default" itemid="@item.OrderId">查看物流</a>
                                            <a href="javascript:void(0);" class="btn_default btn_green2 btnOrderComplete" itemid="@item.OrderId">确认收货</a>
                                            break;
                                        default: break;
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                //单个商品
                <div class="shop_group_item">
                    <div class="shop_title pd">
                        <div class="item">
                            <a href="@(ViewBag.BasePath)O/oi/@item.OrderId">
                                <div class="shop_title_content">
                                    <em></em>
                                    <span class="shop_title_name arrow_left">
                                        @(string.IsNullOrWhiteSpace(item.SellerName) ? "自营" : item.SellerName)
                                    </span>
                                    <span class="status">@YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderTypeEx(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus)</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="shp_cart_list">
                        <div class="items">
                            <div class="shp_cart_item_display">
                                <a href="javascript:void(0);" class="cart_product_cell_1 ml">
                                    <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.OrderItems[0].ThumbnailsUrl, "T50X65_")" alt="" class="cart_photo_thumb">
                                </a>
                                <div class="cart_product_cell_2 pd" onclick="window.location.href='@(ViewBag.BasePath)O/oi/@item.OrderId'">
                                    <div class="cart_product_name">
                                        @item.OrderItems[0].Name
                                    </div>
                                    <div class="cart_product_prop">
                                        @if (String.IsNullOrWhiteSpace(item.OrderItems[0].Attribute))
                                        {
                                            foreach (var attr in item.OrderItems[0].Attribute.Split(','))
                                            {
                                                <span class="prop">@attr</span>
                                            }
                                        }
                                        <div class="pro_qua">
                                            x<span class="num">@item.OrderItems[0].Quantity</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="pay_total pd">
                                    <div class="cont">
                                        <span>共<b>@item.OrderItems[0].Quantity</b>件商品</span>
                                        <span>实付金额：<b>￥@item.Amount.ToString("f")</b></span>
                                        <span>（含运费<b>￥@((item.FreightAdjusted ?? 0).ToString("f"))</b>）</span>
                                    </div>
                                </div>
                                <div class="btn_wrap">

                                    @switch ((int)item.OrderStatus)
                            {
                                case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.UnHandle://未处理
                                    if (item.PaymentStatus == (int)YSWL.MALL.Model.Shop.Order.EnumHelper.PaymentStatus.Unpaid && item.PaymentGateway != "cod" && item.PaymentGateway != "bank")
                                    {
                                                <a href="javascript:void(0);" class="btn_default btn_green2 btnPayOrder" ItemId="@item.OrderId">付款</a>
                                                <a href="javascript:void(0);" class="btn_default btnOrderCancel btn_green2" ItemId="@item.OrderId">取消订单</a>
                                            }
                                            break;
                                        case (int)YSWL.MALL.Model.Shop.Order.EnumHelper.OrderStatus.Complete://已完成

                                            if (!item.IsReviews)
                                            {
                                                <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default">查看物流</a>
                                                <a href="@(ViewBag.BasePath)u/preview/@item.OrderId" class="btn_default btn_green2">评价</a>
                                            }
                                            else
                                            {
                                                <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default btn_green2">查看物流</a>
                                            }

                                            break;
                                        default: break;
                                    }

                                    @switch ((YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus)YSWL.MALL.Web.Areas.MShop.Controllers.UserCenterController.GetOrderMainStatus(item.PaymentGateway, item.OrderStatus, item.PaymentStatus, item.ShippingStatus))
                                    {
                                        case YSWL.MALL.Model.Shop.Order.EnumHelper.OrderMainStatus.Shiped://已发货


                                            <a href="@(ViewBag.BasePath)Order/ShipInfo?orderId=@(item.OrderId)" class="btn_default" itemid="@item.OrderId">查看物流</a>
                                            <a href="javascript:void(0);" class="btn_default btn_green2 btnOrderComplete" itemid="@item.OrderId">确认收货</a>
                                            break;
                                        default: break;
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }




    }


}