@using Webdiyer.WebControls.Mvc;
@model PagedList<YSWL.MALL.Model.Members.SiteMessage>

@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="item">
            <div class="item_display">
                <a href="@(ViewBag.BasePath)u/SysInfoDetail/@item.ID" class="cell_1">
                    <img src="/Areas/MShop/Themes/MC01/Content/images/system_mess.png" class="system_head"/>
                    @if (!item.ReceiverIsRead)
                    {
                        <i class="red_hideDot"></i>
                    }
                </a>
                <a href="@(ViewBag.BasePath)u/SysInfoDetail/@item.ID"  >
                <div class="cell_2">
                    <div class="system_info">
                        <span class="name">
                                @item.SenderUserName
                            </span>
                        <div class="date">
                            @item.SendTime.Value.ToString("yyyy-MM-dd HH:mm:ss")
                        </div>
                    </div>
                    <div class="mess_con">
                        @(string.IsNullOrEmpty(item.Title) ? "" : item.Title + ":")@item.Content
                    </div>
                </div>
                    </a>
</div>
        </div>
    }

}
else
{
    <div class="shop_group">
        <div class="empty">
            <div class="img_wrap">
                <img src="/Areas/MShop/Themes/MC01/Content/images/nomess.png" alt="暂无消息"/>
            </div>
            <div class="txt">
                <p>暂无消息</p>
            </div>
        </div>
    </div>
}



<script type="text/javascript">

    $(function() {
        pullUp.init({
            //Ajax请求参数
            AjaxOptions: {
                //Ajax请求参数
                Params: { viewName: "_SysInfoListMore" },
                //Ajax请求URL
                DataURL: "@(ViewBag.BasePath)u/SysInfoList"
            },

            //当前页码
            CurrentPage: 2,
            //页码参数名称
            PageParamsName: "pageIndex",
            //每页数量
            PageSize: @(ViewBag.PageSize),
            //每页数量参数名称
            PageSizeParamsName: "pageSize",
            //内容容器
            ContentContainer: $("#LoadSysInfoList"),
            //正在加载提示框
            LoadingTipBox: $("#loadingMore"),
            //无更多数据提示框
            NoMoreTipBox: $("#noMoreProduct"),
            LoadFinish:false
        });
        $("#noMoreProduct").hide();
    });
</script>
