 @{
     Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
 }
 @using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Members.UserInvite>
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
    <link href="/Areas/MShop/Themes/MC01/Content/Css/user.css" rel="stylesheet" />
}
<!--START MAIN-WRAPPER-->
<div class="main_wrapper mb55">
    <!--START HEADER-->
    <header>
        <div class="top_navbar fixed_header">
            <a  href="@(ViewBag.BasePath)co" class="si icon_goback">
            </a>
            <p class="header_title">我的盟友</p>
        </div>
    </header>
    <!-- END HEADER -->
    <div class="top"></div>
    <div class="display-list pd" id="list">
@if (Model != null && Model.Count>0)
{
    foreach (var item in Model)
    {
            <div class="list-item">
            <div class="text-wrap">
                <div class="list-line">
                    日期：
                    <span class="intro">@item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                </div>
                <div class="list-line">
                    盟友：
                    <span class="intro">@item.UserNick</span>
                </div>
                <div class="list-line">
                    返利情况：
                    <span class="intro">@item.RebateDesc</span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="empty pro_list_empty">
        <div class="img_wrap">
            <img src="/Areas/MShop/Themes/MC01/Content/images/nopro.png" alt="">
        </div>
        <div class="txt">
            <p>没找到相关数据</p>
        </div>
    </div>
}
    </div>
    <!--加载提示信息--->
    @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_LoadTip.cshtml")
</div>
@if (Model != null && Model.Count > 0)
{
    <script src="/Areas/MShop/Themes/MC01/Content/Scripts/pullUp.js"></script>
    <script type="text/javascript">
    $(function () {
        pullUp.init({
            //Ajax请求参数
            AjaxOptions: {
                //Ajax请求参数
                Params: $.extend({ ajaxViewName:"_AllyListMore"}),
                //Params:@Html.Raw(ViewBag.DataParam),
                //Ajax请求URL
                DataURL: "@(ViewBag.BasePath)u/MyAlly"
            },

            //当前页码
            CurrentPage: 2,
            //页码参数名称
            PageParamsName: "pageIndex",
            //每页数量
            PageSize: @(ViewBag.PageSize),
            //每页数量参数名称
            PageSizeParamsName: "pageSize",
            //内容容器
            ContentContainer: $("#list"),
            //正在加载提示框
            LoadingTipBox: $("#loadingMore"),
            //无更多数据提示框
            NoMoreTipBox: $("#noMoreProduct"),
            LoadFinish:false
        });
        $("#noMoreProduct").hide();
    });
    </script>
}
