@{
    Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
}
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
    <link href="/Areas/MShop/Themes/MC01/Content/Css/user.css" rel="stylesheet" />
}
@model YSWL.MALL.Model.Members.UsersExpModel


<div class="personWrapper main_wrapper">

    <div class="integralWrapper integralWrapper1">
        @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_HeaderMsgRed.cshtml")
        <div class="personLogo">
            <span class="logo"><img src="/Areas/MShop/Themes/MC01/Content/images/default_header.png" alt=""></span>
            <a href="@(ViewBag.BasePath)a/l"><span class="tit tit1">立即登录</span></a>
        </div>
    </div>
    <div class="integralBox clearfix">
        <ul class="integralContent1">
            <li><em>0</em><i>余额</i></li>
            <li><em>0</em><i>优惠券</i></li>
            <li><em>0</em><i>积分</i></li>
        </ul>
    </div>
    <div class="myOrder clearfix clear-fix">
        <span class="fl my_icon"></span>
        <span class="fl">我的订单</span>
        <a class="fr" href="@(ViewBag.BasePath)u/Orders">查看更多订单<i class="preMore si"></i></a>
    </div>
    <div class="processWrapper">
        <a href="@(ViewBag.BasePath)u/Orders"><i class="my_icon"></i><span>待付款</span></a>
        <a href="@(ViewBag.BasePath)u/Orders"><i class="my_icon"></i><span>待发货</span></a>
        <a href="@(ViewBag.BasePath)u/Orders"><i class="my_icon"></i><span>待收货</span></a>
        <a href="@(ViewBag.BasePath)u/Orders"><i class="my_icon"></i><span>已收货</span></a>
    </div>
    <div class="integralShow processShow">
        <a href="@(ViewBag.BasePath)u/MyFavor"><i class="my_icon icon-collect"></i><span>我的收藏</span><em class="preMore si"></em></a>
        <a href="@(ViewBag.BasePath)u/MyPreview"><i class="my_icon icon-evaluate"></i><span>我的评价</span><em class="preMore si"></em></a>
        <a href="@(ViewBag.BasePath)co"><i class="my_icon icon-money"></i><span>我要赚钱</span><em class="preMore si"></em></a>
        <a href="@(ViewBag.BasePath)u/Setting"><i class="my_icon icon-set"></i><span>设置</span><em class="preMore si"></em></a>
    </div>
</div>

@Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_FooterNav.cshtml")

