@{
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_ShoppingLayout.cshtml";
}
<div class="successWrap">
	<div class="success">恭喜您，您的订单提交成功！</div>
    <div class="payWrap">
    	<div class="OnlinePayment">
            <dl class="onlinePay">
            	<dt>应付金额：</dt>
                <dd><a href="javascript:;">￥@(ViewBag.OrderAmount.ToString("F"))</a></dd>
            </dl>
        </div>
        <div class="pay" Gateway="@ViewBag.PaymentGateway">
            <p class="orderNumber">您的订单编号为 <a href="@(ViewBag.BasePath)UserCenter/OrderInfo/@(ViewBag.OrderId)">@ViewBag.OrderCode</a>。</p>
            <p class="payNow" style="display:none"><a href="javascript:;"></a></p>
            @*@if (ViewBag.PaymentGateway == "alipaybank")
        {
            @Html.Action("BankList", "Order")
        }
        else
        {
            <p class="payNow"><a href="javascript:;"></a></p>
        }*@
            
            <div id="wechat" class="form-group" style="display: none; text-align: center;"> 
                <div class="col-sm-8">
                    <img id="wechatQR" />
                </div>
                <p class="miao-shu" style="font-size:14px">请扫描上方二维码，立即支付</p>
            </div>
        </div>
        <div class="goOnShopping">
        	<a href="@(ViewBag.BasePath)UserCenter/OrderInfo/@(ViewBag.OrderId)">查看订单详情</a>
            <a href="@(ViewBag.BasePath)Product">继续购物</a>
        </div>
    </div>
</div>	
 
@*<script type="text/javascript">
    $(function() {
        $('.payNow').unbind('click').bind('click', function () {
            window.location.replace('/pay/certification@(ViewBag.OrderId)/@(ViewBag.CurrentArea)');
            return;
        });
        $("#ebankPaymentListDiv  .pl-item").unbind('click').bind('click', function () {
            var bankCode = $(this).attr("code"); //用户选择的银行编码
            var url = '/pay/certification@(ViewBag.OrderId)/@(ViewBag.CurrentArea)';
            if (bankCode) {
                url = url + '?BankCode=' + bankCode;
            }
            window.location.replace(url);
            return;
        });
    });
</script>*@

<script type="text/javascript">
    $(function () {
        var gateway = $(".pay").attr("Gateway")
        if (gateway == 'wechat_v3') {
            $.ajax({
                type: "POST",
                url: "/pay/certification@(ViewBag.OrderId)/@(ViewBag.CurrentArea)?action=qr", 
                dataType: "json",
                success: function (qrdata) { 
                    if (qrdata.STATUS === 'SUCCESS' && qrdata.Result_Code!='') {
                        $('#wechatQR').attr('src', '/tools/qr/gen.aspx?size=250&content=' + qrdata.DATA);
                        $('#wechat').show();
                        CheckPay(@(ViewBag.OrderId));
                    } else {
                        alert(qrdata.Result_Code);
                    }
                    sbrecharge = false;
                }
            });
        }
        else {
             $(".progress ul").removeClass("progress-1").addClass("progress-3");
             window.location.replace('/pay/certification@(ViewBag.OrderId)/@(ViewBag.CurrentArea)');
             return;
        }
        
    });

     function CheckPay(id) {
        if (id < 0)return;
        $.ajax({
            async: false,
            type: "POST",
            url: "@(ViewBag.BasePath)Order/CheckPay",
            data: { id: id },
            dataType: "text",
            success: function(data) {
                if (data === "NOTYET") {
                    time = setTimeout('CheckPay(' + id + ')', 3000);
                }
                if (data === 'PREPAID') {
                    ShowSuccessTip("支付成功!");
                    window.location.replace('@(ViewBag.BasePath)PayResult / Success');
                }
            }
        });
    }

</script>
@*<script type="text/javascript">
        $(function() {
            $(".progress ul").removeClass("progress-1").addClass("progress-3");
            $('.payNow').unbind('click').bind('click', function () {
                window.location.replace('/pay/certification@(ViewBag.OrderId)/@(ViewBag.CurrentArea)');
                return;
            });
        });

    </script>*@
