@{
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_AccountLayout.cshtml";
}
@section head{
    <script type="text/javascript">
        var selfurl = window.location.pathname + window.location.search;
        if (selfurl.indexOf($YSWL.BasePath + 'Account/Login') == -1) {
            window.location = $YSWL.BasePath + "Account/Login?returnUrl=" + selfurl;
        }
        ; if (parent.length) { top.window.location = $YSWL.BasePath + "Account/Login" + window.location.search; }
    </script>
    <script src="/Areas/Shop/Themes/PC01/Content/scripts/DefaultLogin.js" type="text/javascript"></script>
}
@model YSWL.MALL.ViewModel.Shop.LogOnModel 
@if (ViewData.ModelState != null &&
         ViewData.ModelState.Count > 0 &&
         ViewData.ModelState["Message"] != null &&
         ViewData.ModelState["Message"].Errors.Count > 0)
{
    <script type="text/javascript">
        $(function () {
            ShowFailTip('@ViewData.ModelState["Message"].Errors[0].ErrorMessage');
        })
    </script>
}
<!--Conent Start-->
<!--登录页面开始-->
<div class="userLogin">用户登录</div>
<div class="loginWrap">
    <div class="login">
        @Html.Action("AdDetail", "Partial", new { id = 114, ViewName = "_LoginLeftAd" })
        


        <div class="loginR">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {Class = "wform form",}))
            {
                <input id="hfRegisterToggle" type="hidden" value="@ViewBag.RegisterToggle" /> 
                <input name="returnUrl" type="hidden"  value="@ViewBag.returnUrl"/>
                <dl class="cell-phone-num">
                    <dt>
                        @if (ViewBag.RegisterToggle == "Phone")
                        {
                                   @:用户名：
                               }
                        else
                        {
                                   @:邮箱地址：
                               }
                    </dt>
                    <dd>
                                 @Html.TextBoxFor(m => m.UserName, new { Class = "uName", id = "txtLogin", name = "xlInput" })
                        
                        
                    </dd>
                </dl>
                <dl class="password">
                    <dt>密&nbsp;&nbsp;&nbsp;码：</dt>
                    <dd>
                                @Html.PasswordFor(m => m.Password, new { Class = "password", id = "password", name = "xlInput" })   
                        
                    </dd>
                </dl>
                <ul class="item-ifo">
                    <li>
                        <input class="checkbox" type="checkbox" name="chkRememberMe" id="chkRememberMe">
                        <label class="mar" for="chkRememberMe">记住用户名</label>
                    </li>
                    <li>
                        <label>
                            <a class="forget" href="@(ViewBag.BasePath)Account/FindPwd">忘记密码?</a>
                        </label>
                    </li>
                </ul>
                <div class="member-login-btn" id="loginsubmit"><a href="javascript:;">登&nbsp;录</a></div>
            }
            <p>还不是@(ViewBag.WebName)会员？<a href="@(ViewBag.BasePath)Account/Register">立即注册</a></p>
            <div class="login-other" style="border-top: none;margin: 0;overflow: hidden;">
                <span class="c9">其他登录方式： </span>
                <ul class="cf">
                    <li class="i-weibo" logintype="default">
                        <a href="@(ViewBag.BasePath)social/sina">新浪微博</a>
                    </li>
                    <li class="i-alipay" logintype="default">
                        <a href="@(ViewBag.BasePath)social/qq">QQ登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
<!--Conent End-->
<script type="text/javascript">
    $(function () {
    if ($.cookie("rmbUser") == "true") {
        $("#txtLogin").val($.cookie("username"));
    }

    });
</script>

