@{
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_AccountLayout.cshtml";
    string regStr = ViewBag.RegisterToggle;
}
<link href="/Scripts/jqueryui/base/jquery-ui-1.9.2.min.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jqueryui/jquery-ui-1.9.2.custom.js" type="text/javascript"></script>
<script type="text/javascript" src="/Areas/Shop/Themes/PC01/Content/scripts/EmailRegister.js"></script>
@model YSWL.MALL.ViewModel.Shop.RegisterModel

<!--注册页面开始-->
<div class="userRegister">
    用户注册
    <span style="float:right;font-size: 14px;">
        已有玺星商城账号
        <a href="@(ViewBag.BasePath)Account/Login" class="a-lk">马上登录~~~</a>
    </span>
</div>
<div class="registerWrapP">

    <div class="registerP">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { Class = "form form-regi", id = "registerf" }))
        {
            <input type="hidden" id="hfPhoneNumber" />
            <input id="hfRegisterToggle" type="hidden" value="@ViewBag.RegisterToggle" />
            <input type="hidden" id="inviteid" name="inviteid" value="@ViewBag.InviteID" />
            <input id="hfSeconds" type="hidden" value="@ViewBag.Seconds" />
            <input id="hfSMSIsOpen" type="hidden" value="@ViewBag.SMSIsOpen" />

            <div class="registerLP">
                @switch (regStr)
                {
                    case "Phone":
                        <dl class="cell-phone-num">
                            <dt class="tel-number">手机号：</dt>
                            <dd>
                                @Html.TextBoxFor(m => m.UserName, new { maxlength = "40", name = "xlInput", id = "phone", Class = "uName" })
                                <span id="divPhoneTip">
                                    <span style="color: red; font-size: 14px;">@Html.ValidationMessageFor(m => m.UserName)   @ViewBag.hasemail</span>
                                </span>
                            </dd>
                        </dl>
                        if (ViewBag.SMSIsOpen)
                        {

                            <dl>
                                <dt>验证码：</dt>
                                <dd>
                                    <input type="text" name="xlInput" id="imageCode" class="f-txt-s f-txt" maxlength="4" style="width: 150px;" />
                                    <img id="ImageCheck" onclick="ChangeImageCode()" src="/ValidateCode.aspx" tooltip="验证码" style="vertical-align: bottom;height: 40px; vertical-align: middle;" />
                                    <input id="btnSendSMS" type="button" style="width: auto;background-color: #E7E5E5;" value="获取短信校验码" />
                                    <span id="divImageCodeTip">
                                        <span style="color: red; font-size: 14px;">@Html.ValidationMessageFor(m => m.UserName)   @ViewBag.hasemail</span>
                                    </span>
                                </dd>
                            </dl>

                            <dl class="duanxin">
                                <dt>短信校验码：</dt>
                                <dd>
                                    @Html.TextBoxFor(m => m.SMSCode, new { id = "checkCode", maxlength = "6", name = "pass", Class = "password" })

                                    <div id="divVerifyCodeTip" style="display: flex;">
                                        <div style="color: red; font-size: 14px;">
                                            @ViewBag.SCodeError
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        }
                        break;
                    default:
                        <dl class="cell-phone-num">
                            <dt class="tel-number">邮箱：</dt>
                            <dd>
                                @Html.TextBoxFor(m => m.UserName, new { maxlength = "40", name = "xlInput", id = "email", Class = "uName" })
                                <span id="divEmailTip">
                                    <span style="color: red; font-size: 14px;">
                                        @Html.ValidationMessageFor(m => m.UserName)
                                        @ViewBag.hasemail
                                    </span>
                                </span>
                            </dd>
                        </dl>
                        break;


                }
                <dl class="password">
                    <dt>用户昵称：</dt>
                    <dd>
                        @Html.TextBoxFor(m => m.NickName, new { maxlength = "40", name = "xlInput", id = "nickname", Class = "uName" })
                        <span id="divNicknameTip">
                            <span style="color: red; font-size: 14px;">
                                @Html.ValidationMessageFor(m => m.NickName)
                                @ViewBag.hasnickname
                            </span>
                        </span>
                    </dd>
                </dl>
                <dl class="password">
                    <dt>请设置密码：</dt>
                    <dd>
                        @Html.PasswordFor(m => m.Password, new { maxlength = "40", name = "xlInput", id = "pwd", Class = "password" })
                        <span id="divPwdTip">
                            <span style="color: red; font-size: 14px;">
                                @Html.ValidationMessageFor(m => m.Password)
                            </span>
                        </span>
                    </dd>
                </dl>
                <dl class="password">
                    <dt>请确认密码：</dt>
                    <dd>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { maxlength = "40", name = "xlInput", id = "vpwd", Class = "password" })
                        <span id="divVPwdTip">
                            <span style="color: red; font-size: 14px;">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                        </span>

                    </dd>
                </dl>

                <!--注册填写推荐人 开始-->

                @if (!ViewBag.hfSIsTjr)
                {
                    <dl class="password">
                        <dt>邀请人：</dt>
                        <dd>
                            @Html.TextBoxFor(m => m.InviteUserId, new { maxlength = "40", name = "xlInput", id = "InviteUserId", Class = "uName" })
                            <span id="divTuiJianren">
                                <span style="color: red; font-size: 14px;">
                                    @Html.ValidationMessageFor(m => m.InviteUserId)
                                    @ViewBag.hasInviteUserId
                                </span>
                            </span>
                        </dd>
                    </dl>
                }
                else
                {
                    <dl class="password">
                        <dt>邀请人：</dt>
                        <dd style="display:none">
                            @Html.TextBoxFor(m => m.InviteUserId, new { maxlength = "40", name = "xlInput", id = "InviteUserId", Class = "uName" })
                        </dd>
                        <dd>
                            <span id="divTJRAME">
                                <span style="color: red; font-size: 14px;">
                                    @ViewBag.TjrName
                                </span>
                            </span>
                        </dd>
                    </dl>
                }
                <!--推荐人 结束-->

                <dl class="item-ifo">
                    <dt class="xieyi">
                        <input class="checkbox" type="checkbox" name="chkRememberMe" id="chkAgreement">
                        <label class="mar" for="chkAgreement">
                            我已阅读并同意
                        </label>
                    </dt>
                    <dd>
                        <label>
                            <a class="forget" href="javascript:;" id="aUserAgreement">《@(ViewBag.WebName)注册协议》</a>
                        </label>
                        <span id="divAgreementTip">
                        </span>
                    </dd>
                </dl>
                <div class="member-login-btn" id="btnEmailRegister">
                    <a href="javascript:;">立即注册</a>
                </div>
                <div style="clear:both;"></div>
            </div>
        }

    </div>
</div>
<!--Conent Start-->
<!--Conent End-->
<div id="divUserAgreement" style="display: none;">
    <div>
        @Html.Raw(Model.UserAgreement)
    </div>
</div>
