 @model   List<YSWL.MALL.Model.Shop.Products.ProductInfo>
@if (Model != null && Model.Count > 0)
{
<div class="floor seckill_floor">
    <div class="floor_container mt pd">
        <a href="@(ViewBag.BasePath)ProSales/CountDown">
            <div class="title_wrap">
                <span class="si seckill_icon"></span>
                <h2 class="seckill_title">限时抢购</h2>
                <span class="icon_more">
                    查看更多<em class="si icon_more1"></em>
                </span>
            </div>
        </a>
        <div class="pro_container3_list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@(ViewBag.BasePath)Product/ProSaleDetail/@item.CountDownId" title="@item.ProductName">
                                <div class="pro_img">
                                    <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T115X115_")" title="@item.ProductName" alt="@item.ProductName" onerror="this.onerror = ''; this.src = '/Content/themes/base/images/404/404_1.png'">
                                </div>
                                <div class="lastTime txtenddate" endDate="@((item.ProSalesEndDate.ToUniversalTime() - Convert.ToDateTime("1970-01-01")).TotalMilliseconds.ToString("0"))" Product="@item.CountDownId" id="txtenddate_@(item.CountDownId)">
                                    <div id="dayMainElement_@(item.CountDownId)" class="dsn"><p>剩余</p><em id="dayEnd_@(item.CountDownId)">0</em><b>天</b></div>
                                    <div id="hourMainElement_@(item.CountDownId)" class="dsn">
                                        <span class="hour" id="hourEnd_@(item.CountDownId)">0</span><i>:</i><span id="minEnd_@(item.CountDownId)">0</span><i>:</i><span id="secEnd_@(item.CountDownId)">0</span>
                                    </div>
                                </div>
                                <div class="pro_info">
                                    <p class="price f16">￥@item.ProSalesPrice.ToString("F")</p>
                                    <del class="original_price">￥@item.LowestSalePrice.ToString("F")</del>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
        
        </div>

    </div>
</div>
}

