@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<YSWL.WeChat.Model.Core.Action> 
<link href="/Scripts/colorbox/colorbox.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/Scripts/colorbox/jquery.colorbox-min.js" type="text/javascript"></script>
<link href="/Scripts/msgbox/css/msgbox.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/msgbox/js/msgbox.js" type="text/javascript"></script>
<script src="/Areas/Supplier/Themes/M1/Content/Scripts/ActionList.helper.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".iframe").colorbox({ iframe: true, width: "480", height: "380", overlayClose: false });
        //全选按钮
        $('#cbxAll').click(function () {
            var obj = $(':checkbox[name="Action"]');
            if (($(this).attr("checked")) == "checked") {
                obj.attr("checked", true);
            } else {
                obj.attr("checked", false);
            }
        });

        $("#cboxClose").click(function () {
            window.location.reload();
        });
    });
</script>
<body>
    <form action="" id="actionList" method="post">
    <div class="newslistabout">
        <div class="newslist_title">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitle">
                        微信系统功能指令管理
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitlebody">
                        微信系统指令是程序级功能行为，只有开发人员可以添加和维护该数据。"
                    </td>
                </tr>
            </table>
        </div>
        <div style="background-color: #ffffff; border: 1px solid #CCC;">
            <table style="width: 100%;" cellpadding="2" cellspacing="1" class="border">
                <tr>
                    <td class="tdbg">
                        <table cellspacing="0" cellpadding="3" width="100%" border="0">
                            <tr>
                                <td class="td_class">
                                    系统指令名称：
                                </td>
                                <td height="25">
                                    <input type="text" id="ActionName" name="tName" value="" style="width: 250px" maxlength="20"
                                        tabindex="1" />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    操作描述：
                                </td>
                                <td height="25">
                                    <textarea id="tDesc" id="ActionDec" name="Remark" style="width: 250px" maxlength="50"
                                        rows="5" cols="3"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                </td>
                                <td height="25">
                                    @*<asp:button id="btnSave" runat="server" text="<%$ Resources:Site, btnSaveText %>"
                                    onclick="btnSave_Click" class="adminsubmit_short"></asp:button>*@
                                    <input type="button" name="btnSave" value="保存" class="adminsubmit_short" onclick="SaveGroup()" />
                                    &nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @*<asp:label id="lblMsg" runat="server" forecolor="Red"></asp:label>*@
                                    <label id="lblMsg" style="color: Red">
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="newslist">
            <div class="newsicon">
                <ul>
                    <li id="Li1" runat="server"></li>
                </ul>
            </div>
        </div>
        <div style="background-color: #ffffff; border: 1px solid #CCC;">
            <table width="100%" border="0" class="user_dingdan" cellspacing="0" cellpadding="0">
                <tr>
                    <th align="center">
                        <input type="checkbox" id="cbxAll" />
                    </th>
                    <th align="center">
                        系统指令ID
                    </th>
                    <th align="center">
                        系统指令名称
                    </th>
                    <th align="center">
                        备注
                    </th>
                    <th align="center" style="width: 100px;">
                        编辑
                    </th>
                </tr>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                   
                    <tr>
                        <td>
                            <input type="checkbox" name="Action" />
                        </td>
                        <td class="bor">
                            @item.ActionId
                        </td>
                        <td class="bor">
                            @item.Name
                        </td>
                        <td class="bor">
                            @item.Remark
                        </td>
                        <td style="width: 100px;">
                            <a href="@(ViewBag.BasePath)WeChat/UpdateAction?id=@item.ActionId" class="iframe">编辑</a>
                        </td>
                    </tr>
                    }
                }
                <tr height="27px" style="background: #FFF">
                    <td colspan="12" style="white-space: nowrap;" align="right">
                        @Ajax.Pager(Model, new PagerOptions
                             {
                                 ShowDisabledPagerItems = false,
                                 AlwaysShowFirstLastPageNumber = true,
                                 PageIndexParameterName = "pageIndex",
                                 NumericPagerItemCount = 10,
                                 CurrentPagerItemTemplate = "<span class=\"in_s\">{0}</span>",
                                 NumericPagerItemTemplate = "<span>{0}</span>",
                                 NavigationPagerItemTemplate = "<span>{0}</span>",
                                 CssClass = "seller_in_pages",
                                  
                             })
                    </td>
                </tr>
            </table>
        </div>
        <table border="0" cellpadding="0" cellspacing="1" style="width: 100%; height: 100%;">
            <tr>
                <td height="10px;">
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="width: 1px;">
                </td>
                <td>
                    <input type="button" name="btnDelete" id="btnDelete" value="批量删除" class="adminsubmit" />
                </td>
            </tr>
        </table>
    </div>
    </form>
    <script type="text/javascript">
        $(function () {
            //批量删除
            $('#btnDelete').click(function () {
                var Ids ;
                var obj = $(':checkbox[name="Action"]')
                if (obj.length == 0) {
                    ShowFailTip("请选择要删除的用户");
                    return false;
                } else {
                    if (!confirm('您确定要删除吗？')) {
                        return false;
                    }
                    obj.each(function () {
                        if (($(this).attr("checked")) == "checked") {
                            Ids += $(this).attr("id") + ",";
                        }
                    });
                    $.ajax({
                        url: ($YSWL.BasePath + "WeChat/ActionDelete?timestamp={0}").format(new Date().getTime()),
                        type: 'POST',
                        dataType: 'json',
                        timeout: 10000,
                        async: false,
                        data: { ids: Ids },
                        success: function (resultData) {
                            if (resultData["Result"] == "OK") {
                                ShowSuccessTip("批量删除成功!");
                                window.location.href = $YSWL.BasePath + 'WeChat/ActionList';
                            } else {
                                ShowFailTip("批量删除失败!");
                            }
                        }, error: function (xmlHttpRequest, textStatus, errorThrown) {
                            ShowFailTip(xmlHttpRequest.responseText);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html> 