<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="x-ua-compatible" content="ie=8" />
        @Html.YSWLSEO(PoweredBy: true)
        <link href="/Areas/CMS/Themes/Default/Content/Css/Site.css" rel="stylesheet" type="text/css" />
        <script src="/Scripts/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="/Scripts/jquery/maticsoft.jquery.min.js" type="text/javascript"></script>
        <script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
        <link href="/Scripts/msgbox/css/msgbox.css" rel="stylesheet" type="text/css" />
        <script src="/Scripts/msgbox/js/msgbox.js" type="text/javascript"></script>
        <script src="@Url.Content("~/Areas/CMS/Themes/Default/Content/Scripts/funcs.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Areas/CMS/Themes/Default/Content/Scripts/js-leaf-hero.js")"></script>
        <!--[if IE 6]>
        <script src="@Url.Content("~/Areas/CMS/Themes/Default/Content/Scripts/belatedpng.min.js")"></script>
        <script>belatedPNG.fix('.pngfix');</script>
        <![endif]-->
        <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
        @RenderSection("head", false)
        <script language="javascript" type="text/javascript">

            function showDiv() {
                document.getElementById('popDiv').style.display = 'block';
                document.getElementById('popIframe').style.display = 'block';
                document.getElementById('bg').style.display = 'block';
            }
            function closeDiv() {
                document.getElementById('popDiv').style.display = 'none';
                document.getElementById('bg').style.display = 'none';
                document.getElementById('popIframe').style.display = 'none';

            }

            //搜索功能
            function Search() {

                var keywords = $("#txtKeywords").val();

                if (keywords == "" || keywords == "输入关键字...") {
                    ShowServerBusyTip("请输入关键字！");
                    return false;
                }
                else {
                    window.parent.location = "@(ViewBag.BasePath)Search/Article?keywords=" + encodeURI(keywords);
                }
            }
        </script>
    </head>
<body>
    <!--Header Start-->
    @Html.Action("Header", "Partial")
    <!--End End-->
    <!--Content Start-->
    @RenderBody()
    <!--Content End-->
    <!--Footer Start-->
    @Html.Action("Footer", "Partial")
    <!--Footer End-->
</body>
</html>
