@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Shop.PromoteSales.GroupBuy>
@{
    Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string regionId = Request.RequestContext.RouteData.Values["regionid"] != null ? Request.RequestContext.RouteData.Values["regionid"].ToString() : "0";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "default";
    ViewBag.Title = "团购列表";
}
@section headtop{
    <!--swiper-->
    <link href="/Scripts/Swiper-3.3.1/css/swiper.min.css" rel="stylesheet" />
    <!--swiper-->
}
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
    <link href="/Areas/MShop/Themes/MC01/Content/Css/sale.css" rel="stylesheet" />
}
<div class="main_wrapper">
    <!--START HEADER-->
    <header class="fixed_header main_wrapper">
        <a class="si icon_goback" href="@(ViewBag.BasePath)" >
        </a>
            <h2>特卖团购</h2>
            @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_HeaderMsg.cshtml")
</header>
    <!--END HEADER-->
    <div class="main_wrapper">
        <div class="top"></div>
        <!--START BANNER-->
        <div class=" swiper-container">
            <div class="swiper-wrapper">
                @Html.Action("AdDetail", "Partial", new { id = 89, ViewName = "_AdBanner" })
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!---分类导航-->
        <div class="saleNavWrapper">
            @Html.Action("GetListCate")
        </div>
        <div class="floor  nosale-list">
            <div class="floor_container" id="mainCont">
                @{Html.RenderPartial("_Group", Model);}
            </div>
        </div>
    </div>

    <!--加载提示信息--->
    @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_LoadTip.cshtml")
</div>

@section foot{
    <script src="/Areas/MShop/Themes/MC01/Content/Scripts/pullUp.js"></script>
    <!--swiper-->
    <script src="/Scripts/Swiper-3.3.1/js/swiper.min.js"></script>
    <!--swiper-->

<script type="text/javascript">
    $(function () {
        $('#body').addClass('m_home');

        //banner图滑动
        var mySwiper = new Swiper('.swiper-container', {
            direction: 'horizontal',
            loop: true,
            pagination: '.swiper-pagination',
            autoplay: 5000
        });
        $(".saleNav li").on("click", function () {
            var dd = ($(this).width());
            var num = $(".saleNav li").index(this);
            $(".saleNav").animate({ scrollLeft: 60 * num }, 1000);
            $(this).addClass('se_current');
            $(this).siblings().removeClass('se_current');
            var cid = $(this).attr('cid');
            //显示 loading刷新
            $("#bgloading,#bg").css({ height: $(window).height(), display: 'block' });
            $('#mainCont').load($YSWL.BasePath + "ProSales/Group?cid=" + cid + "&ajaxVName=_Group", function () {
                $("#bgloading,#bg").hide();//隐藏loading
            });
        });
    });
    </script>
}
