@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Pay.BalanceDetails>
<div class="mar30">
    <div class="contenttitle2">
        <h3>
            <span>收支明细</span></h3>
        <small class="desc"><span>您可以查看收支明细</span> </small>
    </div>
    <div class="newslist">
        <div id="LoadList">
            @if (Model != null)
            {
                <table width="100%" border="0" cellspacing="0" cellpadding="5" class="show stdtable stdtablecb GridViewTyle">
                    <tr class="head1">
                        <td width="5%" style="text-align: center;" bgcolor="#FFFFFF">
                            时间
                        </td>
                        <td width="1%" style="text-align: center;" bgcolor="#FFFFFF">
                            收入
                        </td>
                        <td width="1%" style="text-align: center;" bgcolor="#FFFFFF">
                            支出
                        </td>
                        <td width="1%" style="text-align: center;" bgcolor="#FFFFFF">
                            余额
                        </td>
                        <td width="5%" style="text-align: center;" bgcolor="#FFFFFF">
                            备注
                        </td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center;">
                                @item.TradeDate.ToString("yyyy-MM-dd HH:mm:ss")
                            </td>
                            <td style="text-align: right;">
                                @(item.Income.HasValue ? item.Income.Value.ToString("F") : "")
                            </td>
                            <td style="text-align: right;">
                                @(item.Expenses.HasValue ? item.Expenses.Value.ToString("F") : "")
                            </td>
                            <td style="text-align: right;">
                                @item.Balance.ToString("F")
                            </td>
                            <td>
                                @item.Remark
                            </td>
                        </tr>
                    }
                </table>
                <br />
                <table width="100%" border="0" cellspacing="0" cellpadding="5" class="news_123">
                    <tr>
                        <td width="5%" style="padding-left: 12px;">
                        </td>
                        <td width="5%">
                            &nbsp;
                        </td>
                        <td width="5%">
                            &nbsp;
                        </td>
                        <td width="40%">
                            @Html.Pager(Model, new PagerOptions
                                    {
                                        ShowDisabledPagerItems = false,
                                        AlwaysShowFirstLastPageNumber = true,
                                        PageIndexParameterName = "pageIndex",
                                        NumericPagerItemCount = 10,
                                        CurrentPagerItemTemplate = "<li><span class=\"ins\">{0}</span></li>",
                                        NumericPagerItemTemplate = "<span>{0}</span>",
                                        NavigationPagerItemTemplate = "<label class=\"page_xia\">{0}</label>",
                                        CssClass = "page"
                                    })
                        </td>
                    </tr>
                </table>
            }
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $(".GridViewTyle tr:odd").addClass("eventrcolor");
            $(".GridViewTyle tr:even").addClass("oddtrcolor");
            $("table.GridViewTyle tr").hover(
                function () {
                    $(this).addClass("tylehover");
                },
                function () {
                    $(this).removeClass("tylehover");
                }
            );
        });
    </script>
</div>
