@{
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_BaseLayout.cshtml";
}
<div class="order-wrapper">
    <div class="successk">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
                       <td width="10%" rowspan="5" align="center"><img src="/Areas/Shop/Themes/PC01/Content/images/chenggong.jpg" width="48" height="80" ></td>
                       <td height="45" colspan="3" align="left"><span class="successk_title">@(ViewBag.HasPay ? "您已成功支付，" : "")我们将安排发货，请注意查收。</span></td>
                   </tr>
                <tr>
                    <td height="35" colspan="3" align="left">订单号：@ViewBag.OrderCode</td>
                </tr>
                <tr>
                    <td height="35" colspan="3" align="left"><strong><span class="ftx-01">@(ViewBag.ItemsCount)</span>件商品将发送给 @(ViewBag.ShipName)</strong></td>
                </tr>
                <tr>
                    <td width="65%" height="60" align="left" valign="middle"><span class="fenzi"></span><a href="@(ViewBag.BasePath)UserCenter/Orders">查看或更改您的订单</a></td>
                </tr>
            </tbody></table>
    </div>

</div>
<input type="hidden" value="@ViewBag.OrderId" id="OrderId"/>