@using YSWL.Common;
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Pay.BalanceDrawRequest>

<div class="user_rechargedetial user_detialclear">
   <a href="javascript:;" item="BalanceDetList" >收支明细</a>
    <a href="javascript:;" item="RechargeList" >充值明细</a>
    <a href="javascript:;"    class="curr">提现明细</a>
</div>
                <table width="100%" border="0" class="user_dingdan user_balancelist" cellspacing="0" cellpadding="0">
              <tr>
                  <th>时间</th>
                  <th>提现金额</th>
                  <th>账户</th>
                  <th>账户类型</th>
                  <th>开户行名称</th>
                  <th>开户名称</th>
                  <th>状态</th>
              </tr>
              @if (Model != null)
              {
                  foreach (var item in Model)
                  {
                  <tr>
                      <td height="40" style="width:140px;"  class="bor">
                          @item.RequestTime.ToString("yyyy-MM-dd HH:mm:ss")
                      </td>                  
                      <td   class="bor">
                          @item.Amount.ToString("F")
                      </td>
                      <td   class="bor">
                          @item.BankCard
                      </td>
                        <td   class="bor">
                          @(item.CardTypeID == 1 ? "银行帐号" : "支付宝帐号")
                      </td>
                      <td   class="bor">
                          @item.BankName
                      </td>
                       <td   class="bor">
                          @item.TrueName
                      </td>
                     
                      <td   class="bor status" >
                          @switch (item.RequestStatus)
                          {
                              case 1:
                                  @:未审核
                                  break;
                                  case 2:
                                  @:审核失败
                                  break;
                                  case 3:
                                   @:审核通过
                                  break;
                          }
                               
                      </td>
                     
                  </tr>
                  }
              }
           
           </table>
    
 
<!-- FansList BEGIN -->
@if (Model != null)
{
                   <!-- 分页 -->
    <div class="pagination">
        @Ajax.Pager(Model, new PagerOptions
   {
       ShowDisabledPagerItems = false,
       AlwaysShowFirstLastPageNumber = true,
       ShowFirstLast = false,
       PageIndexParameterName = "pageIndex",
       NumericPagerItemCount = 6,
       CurrentPagerItemTemplate = "<span class=\"page-item curr\">{0}</span>",
       PagerItemTemplate = "<span class=\"page-item\">{0}</span>",
       MorePagerItemTemplate = "<span class=\"pn-break\">{0}</span>",
       CssClass = "p-wrap",
       PrevPageText = "<span class=\"pn-prev \"><i>&lt;</i>上一页</span>",
       NextPageText = "<span class=\"pn-next \">下一页<i>&gt;</i></span>",
   }).AjaxOptions(a => a.SetUpdateTargetId("divdetaillist"))
    </div>
}
<script>
    $(function () {
        $('.status:contains("未审核")').addClass('tdstatusno');
        $('.status:contains("审核失败")').addClass('tdstatusfail');
        $('.status:contains("审核通过")').addClass('tdstatusok');
    })
</script>
