@using YSWL.Common;
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Members.UserInvite>
         <h1 class="userin" > 我的盟友</h1>
      <table width="100%" border="0" class="user_dingdan user_balancelist" cellspacing="0" cellpadding="0">
              <tr>
                  <th>时间</th>
                  <th>盟友</th>
                  <th style="display:none">是否已返利</th>
                  <th>返利情况</th>
              </tr>
              @if (Model != null)
              {
                  foreach (var item in Model)
                  {
                  <tr>
                      <td height="40" style="width: 140px" class="bor">
                          @item.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")
                      </td>
                      <td style="width: 220px;" class="bor">
                          @item.UserNick
                      </td>
                      <td style="width: 88px;display:none;" class="bor status">
                          @(item.IsRebate?"是":"否")
                      </td>
                      <td style="width: 88px" class="bor" >
                          @item.RebateDesc
                      </td>
                     
                  </tr>
                  }
              }
           
           </table>
    
 
<!-- FansList BEGIN -->
@if (Model != null)
{
    <div class="pagination">
        @Ajax.Pager(Model, new PagerOptions
   {
       ShowDisabledPagerItems = false,
       AlwaysShowFirstLastPageNumber = true,
       ShowFirstLast = false,
       PageIndexParameterName = "pageIndex",
       NumericPagerItemCount = 6,
       CurrentPagerItemTemplate = "<span class=\"page-item curr\">{0}</span>",
       PagerItemTemplate = "<span class=\"page-item\">{0}</span>",
       MorePagerItemTemplate = "<span class=\"pn-break\">{0}</span>",
       CssClass = "p-wrap",
       PrevPageText = "<span class=\"pn-prev \"><i>&lt;</i>上一页</span>",
       NextPageText = "<span class=\"pn-next \">下一页<i>&gt;</i></span>",
   }).AjaxOptions(a => a.SetUpdateTargetId("divlist"))
    </div>
}
 <script>
     $(function () {
         $('.status:contains("否")').addClass('tdstatusno');
         $('.status:contains("是")').addClass('tdstatusok');
     })
</script>