@{
    Layout = "~/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayOut.cshtml";
    YSWL.MALL.Model.Members.UsersExpModel UserInfo = ViewBag.UserInfo;
}
@using Webdiyer.WebControls.Mvc
@model PagedList<YSWL.MALL.Model.Members.PointsDetail>
<input type="hidden" id="currentpage" value="points"/>

<div class="col-main">
    
    <div class="user_dingdantitle">我的积分<div  style="float: right; margin-right:50px;">
                                您当前的积分:<span class="integral_a1">@UserInfo.Points</span></div></div>
    
    <table width="100%" border="0" class="user_dingdan" cellspacing="0" cellpadding="0">
        <tr>
            <th>积分日期</th>
            <th>积分类型</th>
            <th>积分</th>
            <th>说明</th>	
        </tr>
         @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr align="center">
                                                    <td height="40" class="bor" style="padding:0 0 0 0;" >
                                                        @item.CreatedDate.ToString("yyyy-MM-dd")
                                                    </td>
                                                    <td class="bor">
                                                        @item.RuleName
                                                    </td>
                                                    <td class="bor">
                                                        @if (item.Type == 0)
                                                        {
                                                            <strong style="color: #ff8a00;">+@item.Score</strong>
                 
                                                        }
                                                        else
                                                        {
                                                            <strong style="color: #33982e;">-@item.Score</strong>
                                                        }
                                                    </td>
                                                    <td class="bor">
                                                        @item.Description
                                                    </td>
                                                </tr>
                                            }
                                        }						         
    </table>
@if (Model != null)
{   
     <div class="pagination">
        @Html.Pager(Model, new PagerOptions
   {
       ShowDisabledPagerItems = false,
       AlwaysShowFirstLastPageNumber = true,
       ShowFirstLast = false,
       PageIndexParameterName = "pageIndex",
       NumericPagerItemCount = 6,
       CurrentPagerItemTemplate = "<span class=\"page-item curr\">{0}</span>",
       PagerItemTemplate = "<span class=\"page-item\">{0}</span>",
       MorePagerItemTemplate = "<span class=\"pn-break\">{0}</span>",
       CssClass = "p-wrap",
       PrevPageText = "<span class=\"pn-prev \"><i>&lt;</i>上一页</span>",
       NextPageText = "<span class=\"pn-next \">下一页<i>&gt;</i></span>",
   })
    </div>
}

                </div>
