  @{
      Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_UserCenterLayout.cshtml";
  }
@using YSWL.Common
@model  List<YSWL.MALL.Model.Shop.Order.OrderItems>
<link href="/Scripts/jquery.upload/fineuploader-3.4.1.css" rel="stylesheet" type="text/css" />
 <script src="/Scripts/jquery.upload/jquery.fineuploader-3.4.1.min.js" type="text/javascript"></script> 
 <script type="text/javascript" src="/Areas/Shop/Themes/PC01/Content/scripts/Review.js?v=1.0"></script> 
 

<div class="col-main">  
    <div class="user_dingdantitle">评论</div>   
      <div class="user_right" style="overflow: auto;">    
    @if (Model != null)
    {
        foreach (YSWL.MALL.Model.Shop.Order.OrderItems item in Model)
        {   
            <div class="reviews">
                <div class="review_img">
                    <a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId"    target="_blank">
                        <img width="130px" height="130px" title="@item.Name" src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailsUrl, "T350X350_")"    onerror="this.onerror='';this.src='/Content/themes/base/Shop/images/none.png'" >
                    </a>
                    <p><a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId"    target="_blank">@StringPlus.SubString(item.Name, "...", 25, false) </a>
                    @if (!string.IsNullOrWhiteSpace(item.Attribute))
                                                {
                                                    string[] tmpAttr = item.Attribute.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                    foreach (string val in tmpAttr)
                                                    {
                                                    @(val + " ")
                                                    }
                                                }</p>
                </div>
                <div class="review_a"> 
                    <input type="hidden" value="@item.OrderId" name="orderId" />
                    <input type="hidden" value="@item.ProductId" name="pid" />
                    <input type="hidden" value="@item.Attribute" name="attribute" />
                    <input type="hidden" value="@item.SKU" name="sku" />
                    <div class="lyz_tab_right_w">
                        <a>还可以输入</a><span maxlength="4" name="shengyu" size="3" style="color: #FFDB69; font-size: 17px;"
                                          value="140">500</span><a> 字</a></div>
                    <textarea name="content" cols="70" rows="8" onkeyup="textCounter(this,500)" onkeydown="textCounter(this,500)" ></textarea>
                    <div class="reviewimg-upload">
                        <input type="hidden" value="" name="UploadPhotoPath"/>
                        <input type="hidden" value="" name="UploadPhotoNames"/>
                        <div name="UploadPhoto" style="padding-left: 5px; width:70px; float:left;">
                        </div>
                    </div>
                </div>
            </div>
        }

    }
      <div class="fb f-act  "  style="margin-top:18px;margin-left: 150px;">
                                    <div class="f-input"> 
                                        <input class="btn btn-important-large" type="button" value="提交评论" id="btnDraw" onclick="submit();"/> 
                                    </div>
                                    <div class="f-msg">
                                        <div id="divRegTip">
                                        </div>
                                    </div>
                                </div>  
       </div> 
 
</div>  

