@using Webdiyer.WebControls.Mvc
@model YSWL.MALL.ViewModel.Shop.ProductListModel
@{
    Layout = "/Areas/MShop/Themes/MC01/Views/Shared/_BaseLayout.cshtml";
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string brandid = Request.RequestContext.RouteData.Values["brandid"] != null ? Request.RequestContext.RouteData.Values["brandid"].ToString() : "0";
    string keyword = Request.RequestContext.RouteData.Values["keyword"] != null ? Request.RequestContext.RouteData.Values["keyword"].ToString() : "";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "hot";
}
@section head{
    <link href="/Areas/MShop/Themes/MC01/Content/Css/main.css" rel="stylesheet" />
}
<input type="hidden" id="hidCid" value="@cid" />

<!--当前分类名称-->
<input type="hidden" id="hidCateName" value="@(Model != null?Model.CurrentCateName:"")" />



<div class=" main_wrapper" id="main_page">
    <!--START HEADER-->
    <header>
        <div class="top_navbar">
           @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_Back.cshtml")
            <div class="top_search search_pl search_pr">
                <div  class="searchInput" id="showSearch">
                    <ul class="searchbar_tag">
                        <li><span id="se_keyword">@keyword</span><em id="delky" class="my_icon icon_close"></em></li>
                    </ul>
                </div>
            </div>
            <span id="switch" class="icon_switch2_view topbar_mess si"></span>
        </div>
    </header>
    <!-- END HEADER -->
    <div class="sort_tab">
        <ul>
            <li class="modList sort_a" mod="hot"><span>销量</span></li>
            <li class="modList" mod="new">最新</li>
            <li class="modList" item="price" mod="price" id="li_price">价格<span class="si icon_sort"></span></li>
            <li id="filter">筛选<span class="si icon_down"></span></li>
        </ul>
    </div>
    <div class="floor" id="product_content">
        <div id="mainProductList">
            @{Html.RenderPartial("_ProdList", Model);}
        </div>
    </div>
    <!---筛选内容开始-->
    <!-- 右滑出筛选 -->
    <div class="popCover_wrap" id="filter_content" isload=false>
    </div>
    <div class="black_overlay" id="f_black_overlay"></div>
    <!---筛选内容结束-->
    <!--加载提示信息--->
    @Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_LoadTip.cshtml")
</div>
@Html.Partial("/Areas/MShop/Themes/MC01/Views/Partial/_SearchLayer.cshtml")

@section foot{
    <script src="/Areas/MShop/Themes/MC01/Content/Scripts/pullUp.js"></script>
    <script src="/Areas/MShop/Themes/MC01/Content/Scripts/searchIndex.js"></script>
}
 
