@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<YSWL.MALL.Model.Members.UserRank> 
@if (Model != null)
{
    <table width="100%" border="0" cellspacing="0" cellpadding="5" class="show stdtable stdtablecb GridView">
        <tr class="head1">
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">等级 </span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">等级图标 </span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">积分下限</span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">积分上限</span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">描述</span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">编辑 </span>
            </th>
            <th width="10%" bgcolor="#FFFFFF">
                <span style="color: #666666;">删除 </span>
            </th>
        </tr>
        @foreach (var item in Model)
        {
                   
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <span class="W_level_ico@{@item.Name}"><span node-type="level"></span></span>
                </td>
                <td>
                    @item.PointMin
                </td>
                <td>
                    @item.PointMax
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    <a href="@(ViewBag.BasePath)Member/UpdateRule/@item.RankId">编辑</a>&nbsp;&nbsp;
                </td>
                <td>
                    @*<a href="@(ViewBag.BasePath)Member/DeleteRule/@item.RuleId" class="delete">删除</a>*@
                    <a href="javascript:;" class="delete" ruleID="@item.RankId">删除</a>&nbsp;&nbsp;
                </td>
            </tr>
        }
        <tr height="27px" style="background: #FFF">
            <div class="abc">
            </div>
        </tr>
    </table>
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="5" class="news_123">
        <tr>
            <td width="5%" style="padding-left: 12px;">
            </td>
            <td width="5%">
                &nbsp;
            </td>
            <td width="5%">
                &nbsp;
            </td>
            <td width="40%">
                @Html.Pager(Model, new PagerOptions
                        {
                            ShowDisabledPagerItems = false,
                            AlwaysShowFirstLastPageNumber = true,
                            PageIndexParameterName = "pageIndex",
                            NumericPagerItemCount = 10,
                            CurrentPagerItemTemplate = "<li><span class=\"ins\">{0}</span></li>",
                            NumericPagerItemTemplate = "<span>{0}</span>",
                            NavigationPagerItemTemplate = "<label class=\"page_xia\">{0}</label>",
                            CssClass = "page",
                             = ""
                        })
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(function () {
        $(".GridView tr:odd").addClass("eventrcolor");
        $(".GridView tr:even").addClass("oddtrcolor");
        $("table.GridView tr").hover(
            function () {
                $(this).addClass("tylehover");
            },
            function () {
                $(this).removeClass("tylehover");
            }
        );


    });
</script>
