 @using Webdiyer.WebControls.Mvc 
 @model PagedList<YSWL.MALL.Model.Shop.Products.ProductInfo>

            @if (Model!=null )
    { 
            <div class="blank20"></div>
    <div class="shanpinlist shanpinlist_1">
        <ul>
         @foreach (var item in Model)
                {
                    
             
             <li styleid="product_@(item.ProductId)" class="item-sale">
<div class="tucheng">
    <a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId"  target="_blank"  title="@item.ProductName" class="ForSkuLink">
        <img title="@item.ProductName" alt="@item.ProductName" src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T185X254_")" width="185" height="254" />
    </a>
<div class="shanpinlist_con">
<h2><a href="@(ViewBag.BasePath)Product/Detail/@item.ProductId"  target="_blank">@item.ProductName</a></h2>
<p style="display:none;">已有 <a href="javascript:;">0</a> 人评价</p>
<div class="jiage_cen">￥ @(item.LowestSalePrice.ToString("F"))</div>
</div>
</div>
<div class="jBtnArea">
                    <a href="javascript:;"   style="display:none;">购买</a>
            <a href="javascript:;" class="ProductFav" productId="@item.ProductId">收&nbsp;&nbsp;藏</a>
            <a href="javascript:;"   style="display:none;">对比</a>

          </div>
</li>
                }

 
</ul>


    </div>
            <div class="blank6"></div>
            <em id="emToalCount" style="display:none;font-style: normal;">共@(ViewBag.ToalCount)条记录</em>


              <!-- 分页 -->
                <div class="pagination">
                    @Ajax.Pager(Model, new PagerOptions
               {
                   ShowDisabledPagerItems = false,
                   AlwaysShowFirstLastPageNumber = true,
                   ShowFirstLast = false,
                   PageIndexParameterName = "pageIndex",
                   NumericPagerItemCount = 6,
                   CurrentPagerItemTemplate = "<span class=\"page-item curr\">{0}</span>",
                   PagerItemTemplate = "<span class=\"page-item\">{0}</span>",
                   MorePagerItemTemplate = "<span class=\"pn-break\">{0}</span>",
                   CssClass = "p-wrap",
                   PrevPageText = "<span class=\"pn-prev \"><i>&lt;</i>上一页</span>",
                   NextPageText = "<span class=\"pn-next \">下一页<i>&gt;</i></span>",
               }).AjaxOptions(a => a.SetUpdateTargetId("ProductListDiv"))
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('.jPage').find('span').eq(0).before($('#emToalCount').show());
                    })
</script>
    }
     

