 @model List<YSWL.MALL.Model.Shop.Products.ProductInfo> 
@{
    Layout = "/Areas/Shop/Themes/PC01/Views/Shared/_StoreLayout.cshtml";
    string cid = Request.RequestContext.RouteData.Values["cid"] != null ? Request.RequestContext.RouteData.Values["cid"].ToString() : "0";
    string mod = Request.RequestContext.RouteData.Values["mod"] != null ? Request.RequestContext.RouteData.Values["mod"].ToString() : "hot";
    string suppid = Request.RequestContext.RouteData.Values["suppid"] != null ? Request.RequestContext.RouteData.Values["suppid"].ToString() : "0";
    string price = Request.RequestContext.RouteData.Values["price"] != null ? Request.RequestContext.RouteData.Values["price"].ToString() : "";
    string ky = Request.RequestContext.RouteData.Values["ky"] != null ? Request.RequestContext.RouteData.Values["ky"].ToString() : "";
} 
<!--图片轮回-->
<script type="text/javascript" src="/Areas/Shop/Themes/PC01/Content/scripts/jquery.jslides.js"></script>
<script type="text/javascript">
    $(function () {

        var url = window.location.pathname; //展开当前节点
        $("#box-category a").each(function () {
            var href = $(this).attr("href").toLowerCase();
            if (url.toLowerCase().slice(0, href.length) == href) {
                $(this).addClass('supp_category_cur');
                if ($(this).hasClass('clearfix')) {
                    $(this).addClass('active').prev('div.menuopen').removeClass('menuopen').addClass('menuclose');
                } else {
                    $(this).parents('ul').prev('a.clearfix').addClass('active').prev('div.menuopen').removeClass('menuopen').addClass('menuclose');
                }

            }
        });
         
        //选中当前排序方式
        var mod = '@mod';
        $("#divprodorderby").find("a").each(function () {
            var mode = $(this).attr("mod");
            if (mode == mod) {
                $(this).addClass("xuanzhong");
            }
        });


        //分类折叠
        $('.menuopen').die('click').live('click', function () {
            $(this).next('a.clearfix').addClass('active');
            $(this).removeClass('menuopen').addClass('menuclose');

            //关闭其他
            var $thisparent = $(this).parent().siblings();
            $thisparent.find('a.clearfix').removeClass('active');
            $thisparent.find('div').removeClass('menuclose').addClass('menuopen');
        });


        $('.menuclose').die('click').live('click', function () {
            $(this).next('a.clearfix').removeClass('active');
            $(this).removeClass('menuclose').addClass('menuopen');
        });

        //保存显示价格
        var priceStr = '@price';
        var price1 = priceStr.split("-")[0];
        var price2 = priceStr.split("-")[1];
        if (!isNaN(price1) && parseInt(price1) > 0) {
            $("#txtPrice1").val(price1);
        }
        if (!isNaN(price2) && parseInt(price2) > 0) {
            $("#txtPrice2").val(price2);
        }

        //搜索按钮
        $("#supp_butsearch").click(function () {
            price1 = parseInt($("#txtPrice1").val());
            price2 = parseInt($("#txtPrice2").val());
            if (isNaN(price1)) {
                price1 = 0;
            }
            if (isNaN(price2)) {
                price2 = 0;
            }
            if (price1 > price2 && price1 > 0 && price2 > 0) {
                var sw = price1;
                price1 = price2;
                price2 = sw;
                $("#txtPrice1").val(price1);
                $("#txtPrice2").val(price2);
            }
            location.href = "@(ViewBag.BasePath)Store/list/@suppid/@cid/@mod/" + price1 + "-" + price2 + "/" + $('#inputKeyword').val();
        });

    });
</script>


 <!--START banner轮播-->
@Html.Action("AdList", "Store", new { id = 7, suppId = suppid, ViewName = "_AdList" })
<!--END banner轮播-->

<!--中间部分开始-->
<div class="part_1">
    @Html.Raw(ViewBag.SuppIndexContent)
</div>
<!--中间部分结束-->
 
<!--热销商品-->
@Html.Action("RecProd", "Store", new { suppid =suppid})
<!--热销商品-->


<div class="clear"></div>
<div class="con_zhengwen">
<div class="searchArea">
	<div class="jSearchArea">
        <div class="jSearchInput">
            <input type="text" value="@ky" size="40" maxlength="40" class="inputMiddle" placeholder="请输入关键词"  id="inputKeyword">
		  <div class="jPriceArea">
             <input type="text" size="7" maxlength="7" onafterpaste="this.value=this.value.replace(/\D/g,'')" onkeyup="this.value=this.value.replace(/\D/g,'')" onchange="this.value=this.value.replace(/\D/g,'')"  class="inputSmall"  id="txtPrice1" value="" placeholder="￥">
            <span class="jText">-</span>
            <input type="text" style="margin-right:0;" size="7" maxlength="7"  onafterpaste="this.value=this.value.replace(/\D/g,'')" onkeyup="this.value=this.value.replace(/\D/g,'')" onchange="this.value=this.value.replace(/\D/g,'')"  class="inputSmall" value="" placeholder="￥" id="txtPrice2"/> 
		  </div>
						
			            <button   id="supp_butsearch" type="button" class="j-button">搜索<s></s></button>
        </div>
			</div>
</div>
<div class="blank10"></div>
<div class="con_zhengwen_left">
<div class="shangpinfenlei">
<div class="box-heading">商品分类</div>
    <div class="box-category" id="box-category">
        @Html.Action("CategoryList", "Store", new { Pcid = 0, suppId = suppid, viewName = "_CategoryList" })
    </div>

</div>

</div>
<div class="con_zhengwen_right">
<div class="shanpinpaixu" id="divprodorderby">
    <a href="@(ViewBag.BasePath)Store/list/@suppid/@cid/hot/@price/@ky"  mod="hot" >销量</a>
    <a href="@(ViewBag.BasePath)Store/list/@suppid/@cid/pricedesc/@price/@ky"  mod="pricedesc" >价格</a> 
    <a href="javascript:;" style="display:none;"  >好评度</a>
    <a href="@(ViewBag.BasePath)Store/list/@suppid/@cid/new/@price/@ky"  mod="new" >上架时间</a>
</div>
    <div class="blank20"></div>
    <div class="shanpinlist" id="ProductListDiv">
          @{Html.RenderPartial("_ProductList", Model);}
    </div>
</div>

</div>
<div class="clear"></div>