
@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
  }
  <link href="/Areas/Supplier/Themes/M1/Content/css/admin.css" rel="stylesheet" type="text/css">
@model List<YSWL.MALL.Model.SysManage.SysNode>
<body>
    <form id="form1" runat="server">
    <div class="left_main_top">
    </div>
    <div class="left_main">
        @if (Model != null && Model.Count > 0)
        { 
            <div id="foldmenu2" class="foldmenu" style="float: right;">
                @if (Model[0].hasChildren)
                {
                    foreach (var item in Model)
                    {
                
                    <ul class="open">
                        <span class="span_open">@item.TreeText<div class="arrow"></div></span>
                        @Html.Action("LeftMenu", new { id = item.NodeID, ViewName = "_LeftMenu2" })
                    </ul>
               
                    }
                }
                else
                { 
                    <ul class="open">
                        <span class="span_open">@ViewBag.NodeName<div class="arrow"></div></span>
                        @foreach (var item in Model)
                        {
                            <li><a href="@(ViewBag.BasePath)@item.Url" target="mainFrame">@item.TreeText</a></li>
                        }
                    </ul>
                }
                <div style="height: 5px">
                </div>
            </div>
        }
        <script type="text/javascript">
            window.onload = function () {
                myMenu2 = new FOLDMenu("foldmenu2");
                myMenu2.init();
            };
        </script>
        <script type="text/javascript">
            function FOLDMenu(id, onlyone) {
                if (!document.getElementById || !document.getElementsByTagName) { return false; }
                this.menu = document.getElementById(id);
                this.submenu = this.menu.getElementsByTagName("ul");
                this.speed = 3;
                this.time = 10;
                this.onlyone = onlyone == true ? onlyone : false;
                this.links = this.menu.getElementsByTagName("a");
            }
            FOLDMenu.prototype.init = function () {
                var mainInstance = this;
                for (var i = 0; i < this.submenu.length; i++) {
                    this.submenu[i].getElementsByTagName("span")[0].onclick = function () {
                        mainInstance.toogleMenu(this.parentNode);
                    };
                }
                for (var i = 0; i < this.links.length; i++) {
                    this.links[i].onclick = function () {
                        this.className = "current";
                        mainInstance.removeCurrent(this);
                    }
                }
            }
            FOLDMenu.prototype.removeCurrent = function (link) {
                for (var i = 0; i < this.links.length; i++) {
                    if (this.links[i] != link) {
                        this.links[i].className = " ";
                    }
                }
            }
            FOLDMenu.prototype.toogleMenu = function (submenu) {
                if (submenu.className == "open") {
                    this.closeMenu(submenu);
                } else {
                    this.openMenu(submenu);
                }
            }
            FOLDMenu.prototype.openMenu = function (submenu) {
                var fullHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
                var links = submenu.getElementsByTagName("a");
                for (var i = 0; i < links.length; i++) {
                    fullHeight += links[i].offsetHeight;
                }
                var moveBy = Math.round(this.speed * links.length);
                var mainInstance = this;
                var intId = setInterval(function () {
                    var curHeight = submenu.offsetHeight;
                    var newHeight = curHeight + moveBy;
                    if (newHeight < fullHeight) {
                        submenu.style.height = newHeight + "px";
                    } else {
                        clearInterval(intId);
                        submenu.style.height = "";
                        submenu.className = "open";
                    }
                }, this.time);
                this.collapseOthers(submenu);
            }
            FOLDMenu.prototype.closeMenu = function (submenu) {
                var minHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
                var moveBy = Math.round(this.speed * submenu.getElementsByTagName("a").length);
                var mainInstance = this;
                var intId = setInterval(function () {
                    var curHeight = submenu.offsetHeight;
                    var newHeight = curHeight - moveBy;
                    if (newHeight > minHeight) {
                        submenu.style.height = newHeight + "px";
                    } else {
                        clearInterval(intId);
                        submenu.style.height = "";
                        submenu.className = "";
                    }
                }, this.time);
            }
            FOLDMenu.prototype.collapseOthers = function (submenu) {
                if (this.onlyone) {
                    for (var i = 0; i < this.submenu.length; i++) {
                        if (this.submenu[i] != submenu) {
                            this.closeMenu(this.submenu[i]);
                        }
                    }
                }
            }
        </script>
    </div>
    <div>
    </div>
    </form>
</body>
