@using YSWL.MALL.Web.SMSService
@model List<YSWL.MALL.Model.Shop.Products.ProductInfo>
<div class="floor-bd">
    <div class="pro-list-wrapper">
        <ul class="pro-list col5 clearfix">
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <li class="pro-list-item">
            <div class="pro-item">
                <a href="@item.SeoUrl">
                    <div class="pro-pic">
                        <img src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailUrl1, "T350X350_")" alt="@item.ProductName">
                    </div>
                    <div class="pro-price">
                        <span class="price-new"><i>¥</i>@item.LowestSalePrice.ToString("F")</span>
                        <span style="color:red;"><i>积分：</i>@item.Gwjf</span>  
                    </div>
                    <p class="pro-name">@item.ProductName</p>
                    </a>
</div>
        </li>
    }
}
        </ul>
    </div>
</div>