   @{
       Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
   } 
   @model YSWL.MALL.ViewModel.Shop.OrderDetailModel
<script src="/Scripts/tab/tab.js" type="text/javascript"></script>
    <link href="/Scripts/tab/tab.css" rel="stylesheet" type="text/css" />
<script src="/Scripts/jquery/maticsoft.jquery.min.js" type="text/javascript"></script>
<link href="/Areas/Supplier/Themes/M1/Content/Css/supplier.css" rel="stylesheet" type="text/css" />
    <!--jQueryUploadify Start-->
    <!--jQueryUploadify End-->
    <style type="text/css">
        .td_class
        {
            width: 80px;
            border-right: 1px solid #DBE2E7;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #fff;
            padding-bottom: 4px;
            padding-top: 4px;
        }
        .td_content
        {
            border-right: 1px solid #DBE2E7;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #fff;
        }
    </style>
<script type="text/javascript">
    $(function () {
        $('#txtFreightAdjusted').OnlyFloat();
        //选择配送方式
        $('#ddlShipType').change(function () {
             var mid = $(this).val();
            var weight = $('#hfWeight').val();
            if ($.trim(mid) == '' || parseInt(mid) <= 0) {
                ShowFailTip("请选择配送方式！");
                $('#txtFreightActual').text('0.00');
                $('#txtFreightAdjusted').val('0.00');
                return false;
            }
            $.ajax({
                url:$YSWL.BasePath + "Order/Freight",
                type: 'post',
                dataType: 'text',
                async: false,
                timeout: 10000,
                data: { mid: mid, weight: weight },
                success: function (resultData) {
                    switch (resultData) {
                        case "NO":
                            ShowFailTip("确认失败！");
                            break;
                        default:
                            $('#txtFreightActual').text(resultData);
                            $('#txtFreightAdjusted').val(resultData);
                            break;
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    ShowServerBusyTip("服务器没有返回数据，可能服务器忙，请稍候再试！");
                }
            });
        });
    });
    function SubForm() {
        var shipType = $('[id$=ddlShipType]').val();
        if (shipType == "0") {
            ShowFailTip("请选择配送方式！");
            return false;
        }
        var orderNumber = $('[id$=txtShipOrderNumber]').val();
        if (orderNumber == "") {
            if (!confirm('您还未输入物流单号, 确认发货吗?')) {
                return false;
            }
        }
        var freightActual = $('#txtFreightActual').val();

        var oi = $('#hfOrderInfo').val();
        var ShipName = $('#txtShipName').val();
        var rid = $('#hfSelectedNode').val();
        var ShipAddress = $('#txtShipAddress').val();
        var ShipTelPhone = $('#txtShipTelPhone').val();
        var ShipCellPhone = $('#txtShipCellPhone').val();
        var ShipZipCode = $('#txtShipZipCode').val();
        if (parseInt(oi) <= 0) {
            ShowFailTip("出现错误, 请刷新页面重试！");
            return false;
        } 
        if ($.trim(ShipName) == '') {
            ShowFailTip("请填写收货人信息");
            return false;
        }
        if (rid == '' || parseInt(rid) <= 0) {
            ShowFailTip("请选择地区！");
            return false;
        }
        if ($.trim(ShipAddress) == '') {
            ShowFailTip("请选择详细地址！");
            return false;
        }
        if ($.trim(ShipCellPhone) == '') {
            ShowFailTip("请填写手机号码！");
            return false;
        }
        $.ajax({
            url: $YSWL.BasePath + "Order/Shiped",
            type: 'post',
            dataType: 'text',
            async: false,
            timeout: 10000,
            data: { oi: oi, rid: rid, sn: ShipName, sa: ShipAddress, tp: ShipTelPhone, sc: ShipCellPhone, szc: ShipZipCode, on: orderNumber, mi: shipType, factual: freightActual },
            success: function (resultData) {
                switch (resultData) {
                    case "NO":
                        ShowFailTip("保存失败");
                        break;
                    case "OK":
                        ShowSuccessTip("保存成功！");
                        setTimeout(function () {
                            window.parent.location.reload();
                        }, 2000);
                        break;
                    case "ISNOTMODIFY":
                        ShowFailTip("当前订单的状态已改变,您已不能修改,请刷新列表页...");
                        setTimeout(function () {
                            window.parent.location.reload();
                            // javascript: parent.$.colorbox.close();
                            //$('#btnSearch', window.parent.document).click(); 
                        }, 2000);
                        break;
                    default:
                        ShowServerBusyTip("保存失败");
                        break;
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                ShowServerBusyTip("服务器没有返回数据，可能服务器忙，请稍候再试！");
            }
        });
        //            $(".txtstock").each(function () {
        //                var stock = parseInt($(this).text());
        //                var number = parseInt($(this).parent().next().text());
        //                if (number > stock) {
        //                    success = false;
        //                    ShowFailTip("商品库存不够！");
        //                    return false;
        //                }
        //            });
    }
</script>

<input type="hidden" id="hfOrderInfo" value="@Model.OrderInfo.OrderId"/>
    <div class="newslistabout">
        <div class="newslist_title">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                <tr>
                    <td bgcolor="#FFFFFF" class="newstitle">
                        订单发货
                    </td>
                </tr>
            </table>
        </div>
        <div class="nTab4">
            <div class="TabTitle">
                <ul id="myTab1">
                    <li class="active" onclick="nTabs(this,0);"><a href="javascript:;">基本信息</a></li>
                    <li class="normal" onclick="nTabs(this,1);"><a href="javascript:;">其它信息</a></li>
                </ul>
            </div>
        </div>
        <div class="TabContent">
            <!--基本信息-->
            <div id="myTab1_Content0">
                <table style="width: 100%; border-bottom: none; border-top: none; float: left;" cellpadding="2"
                    cellspacing="1" class="border">
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang">
                               <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         订单号：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span ID="lblOrderCode"  >@Model.OrderInfo.OrderCode</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         下单日期：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblCreatedDate"  >@Model.OrderInfo.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         配送方式：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblShipTypeName">@Model.OrderInfo.ShippingModeName</span>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         配送方式：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="hidden" id="hfWeight" value="@Model.OrderInfo.Weight" />
                                        <select id="ddlShipType"  disabled="disabled" >
                                            <option  value="0">请选择配送方式</option>
                                            @if (ViewBag.ShipTypeList!=null )
                                            {
                                                List<YSWL.MALL.Model.Shop.Shipping.ShippingType> shipType = ViewBag.ShipTypeList as List<YSWL.MALL.Model.Shop.Shipping.ShippingType>;
                                                if (shipType != null)
                                                {
                                                    foreach (var item in shipType)
                                                    {
                                                     <option value="@item.ModeId">@item.Name</option>
                                                    }
                                                }
                                            }            
                                        </select>
                                        <script  type="text/javascript">
                                            $('#ddlShipType').val(@(Model.OrderInfo.ShippingModeId.HasValue ? Model.OrderInfo.ShippingModeId.Value : 0));
                                        </script>
                                    </td>
                                </tr>
                                 <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                       实际运费：
                                    </td>
                                     <td height="25" class="td_content">
                                        <input type="text" id="txtFreightActual"  value="@(Model.OrderInfo.FreightActual.HasValue ? Model.OrderInfo.FreightActual.Value.ToString("F") : "0")" />
                                     @*<span id="txtFreightActual">@(Model.OrderInfo.FreightActual.HasValue ? Model.OrderInfo.FreightActual.Value.ToString("F") : "0")</span>*@
                                     </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                       调整后运费：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="txtFreightAdjusted"  >@(Model.OrderInfo.FreightAdjusted.HasValue ? Model.OrderInfo.FreightAdjusted.Value.ToString("F") : "0")</span>
                                        @*<input type="text" disabled="disabled"  id="txtFreightAdjusted" value="@(Model.OrderInfo.FreightAdjusted.HasValue ? Model.OrderInfo.FreightAdjusted.Value.ToString("F") : "0")"  /> *@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                         物流单号：
                                    </td>
                                    <td height="25" class="td_content">
                                         <input type="text" id="txtShipOrderNumber"  value="@Model.OrderInfo.ShipOrderNumber"/>
                                    </td>
                                </tr>
                                <tr style="display: none">
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        备注：
                                    </td>
                                    <td height="25" class="td_content">
                                        <textarea  id="txtRemark" style="width:280px;">@Model.OrderInfo.Remark</textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <table cellspacing="0" cellpadding="3" rules="all" border="0px" class="GridViewTyle"   style="border-color:#CCCCCC;border-width:1px;border-style:solid;width:100%;border-collapse:collapse;float: left;"> 
                                <tr height="35px" style="background-color:#E3EFFF;height:35px;background:#FFF">
                                    <th scope="col" style="border:1px solid #dae2e8;border-right:0px;">商品图片</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">商品名称</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">商品编号</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">规格</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">购买数量</th>
                                    <th scope="col" style="border:1px solid #dae2e8;border-left:0px;border-right:0px;">商品单价</th>
                                </tr>
                           @if (Model.ListOrderItems != null)
                           {
                               foreach (var item in Model.ListOrderItems)
                               {
                                 <tr height="27px"  class="oddtrcolor" >
                                    <td align="center" height="27px" style="width:60px;padding-left:5px;height:27px;">
                                        <a href="javascript:;" target="_blank">
                                            <img  width="80px" height="80px" src="@YSWL.MALL.Web.Components.FileHelper.GeThumbImage(item.ThumbnailsUrl, "T128X130_")" onerror="this.src='/Content/themes/base/images/404/80.jpg'" style="display: inline;"/>
                                        </a>
                                    </td>
                                    <td align="left" height="27px" style="padding-left:5px;height:27px;">
                                        @item.Name   
                                    </td>
                                     <td align="center" height="27px" style="width:80px;padding-left:5px;height:27px;">
                                         @item.SKU
                                     </td>
                                     <td align="center" height="27px" style="width:80px;padding-left:5px;height:27px;">
                                          @if (!string.IsNullOrWhiteSpace(item.Attribute))
                                          {
                                              string[] tmpAttr = item.Attribute.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                              foreach (string val in tmpAttr)
                                              {
                                                        @(val + " ")
                                              }
                                          }
                                     </td>
                                    <td align="center" height="27px" style="width:50px;padding-left:5px;height:27px;">
                                        @item.Quantity
                                    </td>
                                    <td align="center" height="27px" style="width:50px;padding-left:5px;height:27px;">
                                        <span class="txtprice">
                                            @item.AdjustedPrice.ToString("F")
                                        </span>
                                    </td>
                                </tr>
                               }

                           }
                              

	 </table>
                      
                        </td>
                    </tr>
                </table>
            </div>
            <!--     收货人信息-->
            <div id="myTab1_Content1" class="none4">
                <table style="width: 100%; border-bottom: none; border-top: none; float: left;" cellpadding="2"
                    cellspacing="1" class="border">
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang"
                                style="padding-top: 8px">
                                <tr>
                                    <td colspan="2" class="newstitle" bgcolor="#FFFFFF">
                                        <span style="font-size: 16px; padding-left: 20px">收货人信息</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        收货人：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="text" ID="txtShipName" value="@Model.OrderInfo.ShipName" style="width:320px;"/>
                                         
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                       收货人地区：
                                    </td>
                                    <td height="25" class="td_content">
                                     <script src="/Scripts/jquery/jquery.guid.js" type="text/javascript"></script>
                                        <input type="hidden" id="hfSelectedNode" value="@Model.OrderInfo.RegionId" />
                                        <script src="/Scripts/jquery/maticsoft.selectregion.js" handle="/RegionHandle.aspx" isnull="true" type="text/javascript"></script>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        详细地址：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="text" id="txtShipAddress" value="@Model.OrderInfo.ShipAddress" style="width:320px;"  />
                                    </td>
                                </tr>
                                <tr style="display:none;">
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        电话号码：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="text" id="txtShipTelPhone" value="@Model.OrderInfo.ShipTelPhone" style="width:320px;"/>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        手机号码：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="text" id="txtShipCellPhone" value="@Model.OrderInfo.ShipCellPhone" style="width:320px;"/>
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        邮政编码：
                                    </td>
                                    <td height="25" class="td_content">
                                        <input type="text" ID="txtShipZipCode" value="@Model.OrderInfo.ShipZipCode"> 
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                       邮箱地址：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span ID="lblShipEmail" >@Model.OrderInfo.ShipEmail</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="borderkuang"
                                style="padding-top: 8px">
                                <tr>
                                    <td colspan="2" class="newstitle" bgcolor="#FFFFFF">
                                        <span style="font-size: 16px; padding-left: 20px">购买人信息</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        购买人：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblBuyerName"  >@Model.OrderInfo.BuyerName</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        手机号码：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblBuyerCellPhone"  >@Model.OrderInfo.BuyerCellPhone</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td_class" style="background-color: #E2E8EB">
                                        邮箱地址：
                                    </td>
                                    <td height="25" class="td_content">
                                        <span id="lblBuyerEmail" >@Model.OrderInfo.BuyerEmail</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="newslistabout">
        <table style="width: 100%; border-top: none; float: left;" cellpadding="2" cellspacing="1"
            class="border">
            <tr>
                <td class="tdbg">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr>
                            <td style="height: 6px;">
                            </td>
                            <td height="6">
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td height="25" style="text-align: center">
                                <button id="btnSave"   class="adminsubmit btn_style" style="width: 88px !important;" onclick="SubForm();" >确认发货</button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
