@{
    Layout = "~/Areas/Supplier/Themes/M1/Views/Shared/_SupplierLayout.cshtml";
}
@model YSWL.MALL.Model.Shop.Supplier.SupplierCategories
<script type="text/javascript" src="/Scripts/jquery/jquery.form.js"></script>
<script src="/Scripts/tab/tab.js" type="text/javascript"> </script>
<link href="/Scripts/tab/tab.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    window.UEDITOR_HOME_URL = "/ueditor/";
</script>
<script src="/ueditor/ueditor.config.js" type="text/javascript"></script>
<script src="/ueditor/ueditor.all.min.js" type="text/javascript"></script>
<link href="/ueditor/themes/default/ueditor.css" rel="stylesheet" type="text/css" />
<link href="/Scripts/jquery.uploadify/uploadify-v2.1.0/uploadify.css" rel="stylesheet"
    type="text/css" />
<script src="/Scripts/jquery.uploadify/uploadify-v2.1.0/swfobject.js" type="text/javascript"></script>
<script src="/Scripts/jquery.uploadify/uploadify-v2.1.0/jquery.uploadify.v2.1.0.min.js"
    type="text/javascript"></script>
<script src="/Scripts/jquery/maticsoft.img.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#uploadify").uploadify({
            'uploader': '/Scripts/jquery.uploadify/uploadify-v2.1.0/uploadify.swf',
            'script': '/WebLogo.aspx',
            'cancelImg': '/Scripts/jquery.uploadify/uploadify-v2.1.0/cancel.png',
            'buttonImg': '/Areas/Supplier/Themes/M1/Content/images/uploadfile.jpg',
            'queueID': 'fileQueue',
            'width': 76,
            'height': 25,
            'auto': true,
            'multi': true,
            'fileExt': '*.jpg;*.gif;*.png;*.bmp',
            'fileDesc': 'Image Files (.JPG, .GIF, .PNG)',
            'queueSizeLimit': 1,
            'sizeLimit': 1024 * 1024 * 10,
            'onInit': function () {
            },
            'onSelect': function (e, queueID, fileObj) {
            },
            'onComplete': function (event, queueId, fileObj, response, data) {
                if (response.split('|')[0] == "1") {
                    $("#imgUrl").attr("src", response.split('|')[1].format(''));
                    $("[id$='HiddenField_ICOPath']").val(response.split('|')[1]);
                } else {
                    ShowFailTip("图片上传失败！", 2000);
                }
            },
            'onError': function (event, ID, fileObj, errorObj) {
                ShowFailTip('上传文件发生错误, 状态码: [' + errorObj.info + ']', 2000);
            }
        });
        //$("a.iframe").colorbox({ width: "auto", height: "auto", inline: true, href: "#divModal" });
        resizeImg('.TabContent', 120, 120);
    });
</script>
<style type="text/css">
    /*890px*/
    .results_pos
    {
        position: relative;
        overflow: hidden;
        background: red;
        float: left;
        width: 450px;
        background: #e5f0ff;
        border: 1px solid #c7deff;
        border-left: 0;
        height: 298px;
    }
    .results_ol
    {
        position: absolute;
        display: block;
        overflow: hidden;
        clear: both;
        left: 0px;
    }
</style>
<div class="mar30">
    <div class="contenttitle2">
        <h3>
            修改商品分类 
        </h3>
        <small class="desc"></small>
    </div>
    <div class="nTab4">
        <div class="TabTitle">
            <ul id="myTab1">
                <li class="active" onclick=" nTabs(this, 0); "><a href="javascript:;">基本信息</a></li>
                <li class="normal" onclick=" nTabs(this, 1); "><a href="javascript:;">搜索优化</a></li>
            </ul>
        </div>
    </div>
    <div class="TabContent border form" style="border: 1px solid #CCC; padding: 5px; background-color: white;">
        <div id="myTab1_Content0">
            <div style="margin-left: 550px; position: absolute; margin-top: 25px;" id="pic_load">
                <img id="imgUrl"  ref="/Content/themes/base/Shop/images/none.png" width="120" height="120" src="@Model.ImageUrl"/>
            </div>
            <table cellpadding="2" cellspacing="1" class="TabMainborder">
                <tr>
                    <td class="tdbg">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td class="td_class">
                                    <input type="hidden" id="cateId" value="@Model.CategoryId"/>
                                    <input type="hidden" id="parentId" value="@Model.ParentCategoryId"/>
                                    父级分类 ：
                                </td>
                                <td>
                                    <select name="CategoryId" id="CategoryId" style="min-height: 30px;">
                                        @if (Model.Depth == 1)
                                        {
                                            <option value="0" selected="selected">请选择</option>
                                        }
                                        else
                                        {
                                            <option value="@Model.CategoryId" selected="selected">@ViewBag.parentName</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    分类名称 ：
                                </td>
                                <td height="25">
                                    <input type="text" name="Name" id="Name" style="width: 371px" value="@Model.Name"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    类别图片 ：
                                </td>
                                <td height="25">
                                    <input type="hidden" name="ImageUrl" id="HiddenField_ICOPath" />
                                    <div id="fileQueue">
                                    </div>
                                    <input type="file" name="uploadify" id="uploadify" /><br />
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    分类描述 ：
                                </td>
                                <td height="25">
                                    <textarea name="Description" style="width: 700px;" id="Description">@Model.Description</textarea>
                                    @*<asp:TextBox ID="txtDescription" runat="server" Width="700px" TextMode="MultiLine"></asp:TextBox>*@
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div id="myTab1_Content1" class="none4">
            <table cellpadding="2" cellspacing="1" class="TabMainborder ">
                <tr>
                    <td class="tdbg">
                        <table cellspacing="0" cellpadding="0" width="100%" border="0">
                            <tr>
                                <td class="td_class">
                                    页面标题 ：
                                </td>
                                <td height="25">
                                    <input type="text" name="Meta_Title" id="Meta_Title" style="width: 371px;" value="@Model.Meta_Title"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    Meta描述标签 ：
                                </td>
                                <td height="25">
                                    <input type="text" name="Meta_Description" id="Meta_Description" style="width: 371px;" value="@Model.Meta_Description"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="td_class">
                                    Meta关键字标签 ：
                                </td>
                                <td height="25">
                                    <input type="text" name="Meta_Keywords" id="Meta_Keywords" style="width: 371px;" value="@Model.Meta_Keywords"/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <table cellpadding="2" cellspacing="1" class="TabFotterBorder">
            <tr>
                <td class="tdbg">
                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr>
                            <td class="td_class">
                            </td>
                            <td height="25">
                                <div class="form stdform">
                                    <input type="button" value="保存" id="btnSave" class="adminsubmit_short btn_style" />
                                    <input type="button" value="取消" id="btnCancle" class="adminsubmit_short" />
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style='display: none; width: 700px;'>
    <div class="dataarea mainwidth td_top_ccc" style="background: white;" id='divModal'>
        <div class="advanceSearchArea clearfix">
            <!--预留显示高级搜索项区域-->
        </div>
        <div class="toptitle">
            <h1 class="title_height">
                选择分类</h1>
        </div>
        <div class="search_results">
        </div>
        <div class="results">
            <div class="results_main" style="overflow: hidden;">
                <div class="results_left">
                    <label>
                        <input type="button" name="button2" id="button2" value="" class="search_left" />
                    </label>
                </div>
                <div class="results_pos">
                    <ol class="results_ol">
                    </ol>
                </div>
                <div class="results_right">
                    <label>
                        <input type="button" name="button2" id="button2" value="" class="search_right" />
                    </label>
                </div>
            </div>
        </div>
        <div class="results_img">
        </div>
        <div class="results_bottom">
            <span class="spanE">您当前选择的是：</span> <span id="fullName"></span>
        </div>
        <div class="bntto">
            <input type="button" name="button2" id="btnNext" value="确定选择" class="adminsubmit" />
            <input type="hidden" value="true" id="Hidden_isCate" />
            <asp:hiddenfield id="Hidden_SelectValue" runat="server" />
        </div>
    </div>
</div>
<br />
<script type="text/javascript">
    var editor = new baidu.editor.ui.Editor({//实例化编辑器
        iframeCssUrl: '/ueditor/themes/default/iframe.css', toolbars: [

            ['fullscreen', 'source', '|',
                'bold', 'italic', 'underline', 'strikethrough', '|', 'forecolor', 'backcolor', '|',
                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', 'insertorderedlist', 'insertunorderedlist', '|', 'indent', '|',
                'fontfamily', 'fontsize', '|', 'imagenone', 'imageleft', 'imageright',
                'imagecenter', '|', 'insertimage', '|', 'link', 'unlink']
        ],
        initialContent: '',
        initialFrameHeight: 220,
        pasteplain: false
        , wordCount: false
        , elementPathEnabled: false
        , autoClearinitialContent: false, imagePath: "/Upload/RTF/", imageManagerPath: "/"
    });
    editor.render('Description'); //将编译器渲染到容器
</script>
<script type="text/javascript">
    //var datas = $("#procateform").formSerialize();
    $(function () {
        $("#CategoryId").prop("disabled", true);
        $("#btnSave").click(function () {
            if ($("#Name").val().length < 1) {
                ShowFailTip("请填写分类名称！");
                return false;
            } else {
                $.ajax({
                    url: $YSWL.BasePath + "Product/ProCateEditSubmit/" + $("#cateId").val(),
                    type: "Post",
                    data: {
                        Name: $("#Name").val(),
                        parentId: $("#parentId").val(),
                        ImageUrl: $("#HiddenField_ICOPath").val(),
                        Description: editor.getContent(),
                        Meta_Title: $("#Meta_Title").val(),
                        Meta_Description: $("#Meta_Description").val(),
                        Meta_Keywords: $("#Meta_Keywords").val()
                    },
                    success: function (data) {
                        if (data == "exit") {
                            ShowFailTip("该分类下已存在同名分类");
                            return false;
                        }
                        if (data == "no") {
                            ShowFailTip("保存失败，请重试！");
                        }
                        if (data == "ok") {
                            ShowSuccessTip("保存成功");
                            setTimeout(function () {
                                window.location = $YSWL.BasePath + "Product/ProCategory";
                            }, 2000);
                        }
                    }
                });
            }
        });
        $("#btnCancle").click(function () {
            window.top.history.go(-1);
        });
    });
</script>
